:root {
    // COLORS
    --color-pink-900: 136, 19, 55;
    --color-pink-800: 159, 18, 57;
    --color-pink-700: 190, 18, 60;
    --color-pink-600: 225, 29, 72;
    --color-pink-500: 244, 63, 94;
    --color-pink-400: 251, 113, 133;
    --color-pink-300: 253, 164, 175;
    --color-pink-200: 254, 205, 211;
    --color-pink-100: 255, 228, 230;
    --color-pink-50: 255, 241, 242;

    --color-blue-900: 12, 74, 110;
    --color-blue-800: 7, 89, 133;
    --color-blue-700: 3, 105, 161;
    --color-blue-600: 2, 132, 199;
    --color-blue-500: 14, 165, 233;
    --color-blue-400: 56, 189, 248;
    --color-blue-300: 125, 211, 252;
    --color-blue-200: 186, 230, 253;
    --color-blue-100: 224, 242, 254;
    --color-blue-50: 240, 249, 255;

    --color-amber-900: 120, 53, 15;
    --color-amber-800: 146, 64, 14;
    --color-amber-700: 180, 83, 9;
    --color-amber-600: 217, 119, 6;
    --color-amber-500: 245, 158, 11;
    --color-amber-400: 251, 191, 36;
    --color-amber-300: 252, 211, 77;
    --color-amber-200: 253, 230, 138;
    --color-amber-100: 254, 243, 199;
    --color-amber-50: 255, 251, 235;

    --color-gray-900: 17, 24, 39;
    --color-gray-800: 31, 41, 55;
    --color-gray-700: 55, 65, 81;
    --color-gray-600: 75, 85, 99;
    --color-gray-500: 107, 114, 128;
    --color-gray-400: 156, 163, 175;
    --color-gray-300: 209, 213, 219;
    --color-gray-200: 229, 231, 235;
    --color-gray-100: 243, 244, 246;
    --color-gray-50: 249, 250, 251;
}

::selection {
    background-color: rgba(var(--color-amber-200), .30);
}

a:visited {
    color: inherit;
}