@import "mixins/mx-breakpoints";
@import "mixins/mx-spacing";

:root {
    --limited-width: 66%;
}

.limited-width {
    max-width: 100%;

    @include bp-lg {
        max-width: var(--limited-width);
    }
}

div.columns {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);

    @include bp-lg {
        flex-direction: row;
    }
}

.prose {
    > * + * {
        margin-top: var(--space-100);
    }

    ul {
        margin-left: var(--space-100);

        > * + * {
            margin-top: var(--space-50);
        }
    }

    pre {
        border-radius: var(--rounded-base);
        padding: var(--space-100) var(--space-200);
        border-left: .5rem solid rgba(var(--color-blue-100), 1);
    }
}