@import "mixins/mx-breakpoints";

:root {
    --space-unit: 1em;

    --space-50: calc(.75 * var(--space-unit));
    --space-100: calc(1.25 * var(--space-unit));
    --space-200: calc(1.75 * var(--space-unit));
    --space-300: calc(2.5 * var(--space-unit));
    --space-400: calc(3 * var(--space-unit));
    --space-500: calc(3.5 * var(--space-unit));
    --space-600: calc(4 * var(--space-unit));
    --space-700: calc(5 * var(--space-unit));
    --space-800: calc(6.5 * var(--space-unit));
    --space-900: calc(8 * var(--space-unit));

    --section-sm: calc(2.5 * var(--space-unit));
    --section-md: calc(4 * var(--space-unit));
    --section-lg: calc(8 * var(--space-unit));
}

hr.short {
    max-width: 5rem;
    border-width: 0 0 1px 0;
    border-color: rgba(var(--color-gray-300), 1);
}