---
// props
export interface Props {
	question: object;
}
const { question } = Astro.props;
---

<details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
	<summary itemprop="name">{question.data.title}</summary>

	<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
		<div itemprop="text" class="space-y-6 text-gray-800 text-base leading-7" set:html={question.data.content} />
	</div>
</details>

<style>
	@reference "tailwindcss";

	:root {
		interpolate-size: allow-keywords;
	}

	details {
		@apply transition-all duration-500 md:w-3/4;

		&::details-content {
			@apply h-0 overflow-clip;
			transition:
				all 0.5s ease,
				content-visibility 0.5s allow-discrete;
		}
		&[open]::details-content {
			@apply h-auto pt-3 pb-6;
		}
		&[open] > summary {
			@apply bg-slate-300/40;
		}
	}
	summary {
		@apply cursor-pointer transition-all rounded px-4 -mx-4 hover:bg-slate-200/40 flex justify-between text-gray-900 text-lg sm:text-2xl font-medium tracking-tight py-6 text-left;

		&::-webkit-details-marker {
			@apply hidden;
		}

		&:after {
			content: "\002B";
		}
		[open] &::after {
			content: "\002D";
		}

		div {
			@apply pt-2 pb-6;
		}
	}
</style>
