---
// props
export interface Props {
	question: object;
}
const { question } = Astro.props;
---

<div class="w-[30em]">
	<dt class="text-gray-900 text-lg sm:text-2xl font-medium tracking-tight py-6 text-left">{question.title}</dt>
	<dd class="space-y-6 ml-4 sm:ml-6 text-gray-800 text-base sm:text-lg pb-6" set:html={question.metadata.content} />
</div>
