---
// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Container from "@/components/Container"
import PostSnippet from "@/components/PostSnippet"
import Pagination from "@/components/Pagination"

// config
import { postSize } from "@/src/config"

export async function getStaticPaths({ paginate }) {
    const allPosts = await Astro.glob("./*.md")
    const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

    return paginate(filteredPosts, { pageSize: postSize });
}

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
    <BaseHead title="Blog - Digital Marketing, Jamstack Programming and Car Photography" description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows." />

    <style lang="scss">
        @import "../../assets/styles/base/mixins/mx-breakpoints.scss";
        @import "../../assets/styles/base/mixins/mx-spacing.scss";

        section.posts {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: var(--space-400);

            @include bp-md {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include bp-lg {
                gap: var(--space-600);
            }

            @include bp-xl {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">Blog</h1>
                { !page.url.prev && <p>Occasionally you'll catch me writing down my thoughts on the intersection of coding, photography and cars (as if there is such a thing).</p> }
            </Heading>
        </Container>

        <Container>
            <section class="posts">
                {page.data.map(p =>
                <PostSnippet post={p} />
                )}
            </section>
        </Container>

        <Container>
            <Pagination page={page} />
        </Container>
    </BaseLayout>
</body>

</html>