---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/Container";
import Header from "@/components/content/Header";
import PostSnippet from "@/components/SnippetPost";
import Pagination from "@/components/Pagination";

// config
import { postSize } from "@/src/config";

export async function getStaticPaths({ paginate }) {
    const unsortedPosts = await Astro.glob("./*.mdx");
    const posts = unsortedPosts.sort(function (a, b) {
        return new Date(b.date).valueOf() - new Date(a.date).valueOf();
    });

    return paginate(posts, { pageSize: postSize });
}

const { page } = Astro.props;
---

<BaseLayout
    title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
>
    <Header>
        <h1 slot="left">Blog</h1>
        {
            !page.url.prev && (
                <p>
                    Occasionally you'll catch me writing down my thoughts on the intersection of coding, photography and cars (as if there is such a
                    thing).
                </p>
            )
        }
    </Header>

    <Container>
        <section class="grid grid-cols-3">
            {page.data.map((p) => <PostSnippet post={p} />)}
        </section>
    </Container>

    <Container>
        <Pagination page={page} />
    </Container>
</BaseLayout>
