---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Block from "@/components/content/Block";
import Container from "@/components/content/Container";
import Content from "@/components/content/Content";
import Hero from "@/components/content/Hero";
import PostSnippet from "@/components/PostSnippet";
import Pagination from "@/components/Pagination";
import Section from "@/components/content/Section";

// config
import { postSize } from "@/src/config";

export async function getStaticPaths({ paginate }) {
    const unsortedPosts = await Astro.glob("./*.mdx");
    const posts = unsortedPosts.sort(function (a, b) {
        return new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
    });

    return paginate(posts, { pageSize: postSize });
}

const { page } = Astro.props;
---

<BaseLayout
    title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
>
    <Content>
        <Container>
            <Section>
                {
                    !page.url.prev ? (
                        <Block>
                            <h1 slot="left">Articles</h1>
                            <p slot="right" class="text-xl font-light !leading-relaxed md:text-3xl">
                                Occasionally you'll catch me writing down my thoughts on the intersection of coding, photography and cars.
                            </p>
                        </Block>
                    ) : (
                        <Pagination page={page} />
                    )
                }
                <hr />

                <section class="grid sm:grid-cols-2 gap-8 lg:gap-12">
                    {page.data.map((p) => <PostSnippet post={p} showDescription={true} />)}
                </section>

                <hr />

                <Pagination page={page} />
            </Section>
        </Container>
    </Content>
</BaseLayout>
