---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Block from "@/components/content/Block";
import Container from "@/components/Container";
import Header from "@/components/content/Header";
import PostSnippet from "@/components/PostSnippet";
import Pagination from "@/components/Pagination";

// config
import { postSize } from "@/src/config";

export async function getStaticPaths({ paginate }) {
    const unsortedPosts = await Astro.glob("./*.mdx");
    const posts = unsortedPosts.sort(function (a, b) {
        return new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
    });

    return paginate(posts, { pageSize: postSize });
}

const { page } = Astro.props;
---

<BaseLayout
    title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
>
    <Header>
        <Block>
            <h1 slot="left">Articles</h1>
            <p slot="right" class="text-xl md:text-3xl font-light !leading-relaxed">
                Occasionally you'll catch me writing down my thoughts on the intersection of coding, photography and cars.
            </p>
        </Block>
    </Header>

    <Container classes="space-y-12 mb-20">
        <section class="grid sm:grid-cols-1 gap-20 lg:grid-cols-3">
            {page.data.map((p) => <PostSnippet post={p} />)}
        </section>

        <Pagination page={page} />
    </Container>
</BaseLayout>
