---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import { getCollection } from "astro:content";
import Primary from "@/components/blog/cards/Primary";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
import Split from "@/components/content/Split";

// content
const blogs = await getCollection("blog");

// get unique years of posts
const allYears = [];
blogs.map((b) => allYears.push(new Date(b.data.date).getFullYear()));
const uniqueYears = [...new Set(allYears)];
---

<Layout title="Blog - Digital Marketing, Jamstack Programming and Car Photography" description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.">
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">I write about photography, cars &amp; technology.</h1>
			</Heading>
		</Container>

		<Container>
			<div class="space-y-40">
				{
					uniqueYears.map((y) => (
						<Split size="small" border={true}>
							<div slot="heading" class="text-6xl font-light">
								{y}
							</div>

							<div class="grid gap-20 lg:grid-cols-2">
								{blogs.map((b) => {
									if (new Date(b.data.date).getFullYear() == y) {
										return <Primary post={b} metadata={true} />;
									}
								})}
							</div>
						</Split>
					))
				}
			</div>
		</Container>
	</Section>
</Layout>
