---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Article from "@/components/card/Article";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Split from "@/components/content/Split";

// content
import { getCollection } from "astro:content";

const posts = (await getCollection("blogs")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const allYears = [];
posts.map((p) => allYears.push(p.data.date.getFullYear()));
const uniqueYears = [...new Set(allYears)];
---

<Layout
    title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.">
    <Container>
        <Heading>
            <h1 slot="heading">
                I write about photography, cars &amp; technology.
            </h1>
        </Heading>
    </Container>

    <Container classes="pb-32 md:pb-48">
        <div class="space-y-24">
            {
                uniqueYears.map((y) => (
                    <Split small={true}>
                        <div slot="heading" class="text-6xl font-light">
                            {y}
                        </div>

                        <div class="grid gap-20 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2">
                            {posts.map((p) => {
                                if (p.data.date.getFullYear() == y) {
                                    return <Article post={p} />;
                                }
                            })}
                        </div>
                    </Split>
                ))
            }
        </div>
    </Container>
</Layout>
