---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import { Icon } from "astro-icon";
import Block from "@/components/content/Block";
import Container from "@/components/Container";
import Header from "@/components/content/Header";
import ShootSnippet from "@/components/ShootSnippet";
import Pagination from "@/components/Pagination";

// config
import { photoSize } from "@/src/config";

export async function getStaticPaths({ paginate }) {
    const unsortedShoots = await Astro.glob("./*.mdx");
    const shoots = unsortedShoots.sort(function (a, b) {
        return new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
    });

    return paginate(shoots, { pageSize: photoSize });
}

const { page } = Astro.props;
---

<BaseLayout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shootin photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
>
    <Header image="/shoots/2019/2019-12-28-shop-shoot/shop-shoot-2019_004.jpeg">
        <Block>
            <h1 slot="left">Automotive Photography</h1>
            <p slot="right" class="text-xl md:text-3xl font-light !leading-relaxed">
                If you're in the Austin area and are interested in having your car photographed, <a
                    href="/contact"
                    title="Contact Me"
                    class="highlight"
                >
                    let's chat!</a
                >
            </p>
        </Block>

        <div class="flex justify-between items-center gap-8">
            <Icon name="auctions/bring-a-trailer" class="w-40" />
            <Icon name="auctions/cars-and-bids" class="w-40" />
            <Icon name="auctions/dupont-registry" class="w-40" />
            <Icon name="auctions/hagerty" class="w-40" />
            <Icon name="auctions/zero260" class="w-40" />
        </div>
    </Header>

    <Container classes="space-y-12 mb-20">
        <section class="grid grid-cols-2 gap-20">
            {page.data.map((s) => <ShootSnippet shoot={s} />)}
        </section>

        <Pagination page={page} />
    </Container>
</BaseLayout>
