---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { cosmic } from "@/library/cosmic";
import Container from "@/components/content/Container";
import Faq from "@/components/faq/Faq";
import Figure from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";

const { objects: faqs } = await cosmic.objects.find({ type: "faqs" }).props("title, metadata");

// get images
const images = [
	"https://cdn.cosmicjs.com/522bf780-7602-11ef-915f-61acd7484848-coffee-with-cars-2019_010.jpg",
	"https://cdn.cosmicjs.com/4d19add0-7604-11ef-915f-61acd7484848-shop-shoot-2019_004.jpg",
	"https://cdn.cosmicjs.com/ca0078b0-7604-11ef-915f-61acd7484848-lit-show-2020_013.jpg",
	"https://cdn.cosmicjs.com/92b56780-7609-11ef-915f-61acd7484848-1957-ford-thunderbird_002.jpg",
	"https://cdn.cosmicjs.com/6b9aeac0-760a-11ef-915f-61acd7484848-2002-bmw-z8_004.jpg",
	"https://cdn.cosmicjs.com/811fa520-760a-11ef-915f-61acd7484848-2006-cadillac-xlr-v_003.jpg",
	"https://cdn.cosmicjs.com/cd2b4410-760a-11ef-915f-61acd7484848-1968-chevrolet-c10_009.jpg",
	"https://cdn.cosmicjs.com/ce5c7ba0-760b-11ef-915f-61acd7484848-1976-bmw-2002_009.jpg",
	"https://cdn.cosmicjs.com/4cef7840-75fe-11ef-915f-61acd7484848-cota-classic-2017_004.jpg",
	"https://cdn.cosmicjs.com/7fc115a0-7601-11ef-915f-61acd7484848-coffee-with-cars-2018_009.jpg",
	"https://cdn.cosmicjs.com/267af820-7602-11ef-915f-61acd7484848-2019-conda-green-911e_010.jpg",
	"https://cdn.cosmicjs.com/5198df40-7602-11ef-915f-61acd7484848-coffee-with-cars-2019_015.jpg",
];
---

<Layout
	title="Car Photography in Austin, TX"
	description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
	footerPadding={false}
	itemscope
	itemtype="https://schema.org/FAQPage"
>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">Car Photography FAQ</h1>
				<div slot="description">
					You've got questions and hopefully I've got some answers. If you don't find an answer to your question, why not <a href="/contact" class="underline decoration-1 underline-offset-2"> contact me </a>?
				</div>
			</Heading>
		</Container>

		<Container>
			<div class="space-y-2">
				{
					faqs.map((f) => (
						<div class="divide-y w-1/2">
							<Faq question={f} />
						</div>
					))
				}
			</div>
		</Container>

		<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4">
			{images.map((i) => <Figure src={i} class="object-cover w-full h-full" rounded={false} sizes="(min-width: 768px) 33vw, (min-width: 1024px) 25vw, 50vw" />)}
		</div>
	</Section>
</Layout>
