---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { Testimonials } from "@/data/Photography";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
import Testimonial from "@/components/Testimonial";

const links = [
    {
        heading: "Pricing",
        description:
            "Pricing options tailored to your automotive photography needs.",
        cta: "See Pricing",
        url: "/photography/pricing",
    },
    {
        heading: "FAQ",
        description: "Expert answers to all your car photography inquiries.",
        cta: "Read FAQs",
        url: "/photography/faq",
    },
    {
        heading: "Shoots",
        description: "Browse my recent snapshots captured across Texas.",
        cta: "More Shoots",
        url: "/photography/shoots",
    },
];
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
>
    <Section>
        <Container>
            <Heading>
                <h1 slot="heading">
                    I shoot professional car photography in Austin.
                </h1>
                <div slot="description" class="space-y-8">
                    <p>
                        For the last five years, I've been shooting professional
                        car photography all over central Texas. My passion for
                        automobiles lets me bring out the best in your vehicle.
                        I'll expertly capture every curve resulting in stunning
                        images.
                    </p>
                </div>
            </Heading>
        </Container>

        <!-- <Container>
            <div
                class="grid grid-cols-1 sm:grid-cols-3 gap-y-6 sm:gap-4 md:gap-6"
            >
                {
                    links.map((l) => (
                        <a
                            href={l.url}
                            class="block space-y-3 border border-gray-200 rounded p-6 hover:bg-gradient-to-br from-white via-white to-gray-50 shadow-lg"
                        >
                            <p class="text-gray-900 font-medium lg:text-2xl text-xl">
                                {l.heading}
                            </p>
                            <p class="text-gray-800 text-base sm:text-sm md:text-base tracking-wide text-balance">
                                {l.description}
                            </p>
                        </a>
                    ))
                }
            </div>
        </Container> -->

        <div class="grid grid-cols-12">
            <Figure
                figureClass="col-span-12"
                class="w-full object-cover"
                src="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_037.jpg"
            />
            <Figure
                figureClass="col-span-6 sm:col-span-3"
                class="w-full object-cover"
                src="shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_011.jpg"
            />
            <Figure
                figureClass="col-span-6 sm:col-span-3"
                class="w-full object-cover"
                src="shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_009.jpg"
            />
            <Figure
                figureClass="col-span-6 sm:col-span-3"
                class="w-full object-cover"
                src="shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_027.jpg"
            />
            <Figure
                figureClass="col-span-6 sm:col-span-3"
                class="w-full object-cover"
                src="shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_004.jpg"
            />
            <Figure
                figureClass="col-span-12 sm:col-span-4"
                class="w-full object-cover"
                src="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_012.jpg"
            />
            <Figure
                figureClass="col-span-12 sm:col-span-4"
                class="w-full object-cover"
                src="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_045.jpg"
            />
            <Figure
                figureClass="col-span-12 sm:col-span-4"
                class="w-full object-cover"
                src="shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_002.jpg"
            />
        </div>

        <Container>
            <section class="space-y-14">
                <div class="relative">
                    <h2 class="z-10 inline bg-white pr-6">Testimonials</h2>
                    <hr class="absolute w-full -mt-6 -z-10" />
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-16 sm:gap-10">
                    {Testimonials.map((t) => <Testimonial content={t} />)}
                </div>
            </section>
        </Container>
    </Section>
</Layout>
