---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { Testimonials } from "@/data/Photography";
import { getPublicPath } from "@/functions/Media";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
---

<Layout title="Car Photography in Austin, TX" description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions.">
    <Container>
        <Heading>
            <h1 slot="heading">Testimonials</h1>
            <div slot="description" class="space-y-8">
                <p></p>
            </div>
        </Heading>
    </Container>

    <Container>
        <div class="grid grid-cols-3">
            {
                Testimonials.map((t) => (
                <div class="p-6 border space-y-4">
                    <div class="text-lg">{t.text}</div>
                    
                    <div class="flex items-center">
                        <img src={getPublicPath(t.image)} class="rounded-full w-10 h-10 mr-4" />
                        <div>
                            <div class="text-lg font-semibold">{t.name}</div>
                            <div>{t.position}</div>
                        </div>
                    </div>
                </div>
                ))
            }
        </div>
    </Container>
</Layout>
