---
// components
import Container from "@/components/Container";
import Figure from "@/components/image/Figure";

// props
export interface Props {
    image?: string;
}
const { image = "/shoots/2019/2019-08-17-signal-yellow-911/911s-targa_012.jpeg" } = Astro.props;
---

<Figure src={image} metadata={false} sizes="100vw" figureClass="h-[300px] md:h-[900px]" class="h-full w-full object-cover" loading="eager" />

<Container classes="relative md:-mt-72 bg-white py-20 xl:pb-20 xl:rounded-md xl:mb-20">
    <div class="space-y-20 md:space-y-40">
        <slot />
    </div>
</Container>
