---
// props
export interface Props {
    large?: boolean;
    classes?: string;
}
const { large = false, classes } = Astro.props;
---

<div class:list={["relative", !large && `px-6 sm:px-8 lg:px-12`, classes]}>
    <div class:list={["mx-auto", large ? `max-w-screen-2xl` : `max-w-7xl`]}>
        <slot />
    </div>
</div>
