---
// props
export interface Props {
	size?: "small" | "large";
	padding?: boolean;
	innerClass?: string;
	classes?: string;
}
const { size = "small", padding = true, innerClass, classes } = Astro.props;
---

<div class:list={["sm:px-8 lg:px-12", padding && "px-6", classes]}>
	<div class:list={["mx-auto", size === "large" ? "max-w-screen-2xl" : "max-w-7xl", innerClass]}>
		<slot />
	</div>
</div>
