---
// props
export interface Props {
    topMargin?: boolean;
    headingWidth?: string;
    descriptionWidth?: string;
}
const { topMargin = "true", headingWidth = "w-auto md:max-w-[70ch]", descriptionWidth = "w-auto md:max-w-[50ch]" } = Astro.props;
---

<div class:list={["space-y-6", topMargin && "mt-16 md:mt-24"]}>
    <div class={headingWidth}>
        <slot name="heading" />
    </div>

    <slot name="middle" />

    <div class:list={["text-xl md:text-2xl tracking-tight md:leading-10 text-neutral-700", descriptionWidth]}>
        <slot name="description" />
    </div>

    <slot />
</div>
