<div class="max-w-2xl space-y-6">
    <slot name="heading" />
    <div class="space-y-4 text-lg leading-8 text-zinc-600 dark:text-zinc-200">
        <slot name="description" />
    </div>

    <slot />
</div>
