<div class="max-w-2xl space-y-10">
    <slot name="heading" />

    <div class="space-y-4 text-xl leading-8 text-neutral-600 dark:text-neutral-200">
        <slot name="description" />
    </div>

    <slot />
</div>
