<div class:list={["space-y-6 mt-16 md:mt-24"]}>
    <div class="w-[70ch]">
        <slot name="heading" />
    </div>

    <div class="text-3xl tracking-tight leading-normal w-[40ch]">
        <slot name="description" />
    </div>

    <slot />
</div>
