<div class="max-w-2xl space-y-6">
    <slot name="heading" />
    <div class="text-lg leading-relaxed text-zinc-600 dark:text-zinc-400">
        <slot name="description" />
    </div>

    <slot />
</div>
