---
// props
export interface Props {
    topMargin?: boolean;
    maxWidth?: string;
}
const { topMargin = false, maxWidth = "max-w-3xl" } = Astro.props;
---

<div class:list={["space-y-6", topMargin && "mt-16 md:mt-24"]}>
    <slot name="top" />

    <div class:list={["text-balance", maxWidth]}>
        <slot name="heading" />
    </div>

    <slot name="middle" />

    <div class:list={["text-base sm:text-lg md:text-xl text-gray-900 sm:text-balance !leading-relaxed", maxWidth]}>
        <slot name="description" />
    </div>

    <slot />
</div>
