<div class="max-w-2xl space-y-10">
    <slot name="heading" />

    <div
        class="space-y-4 text-2xl leading-10 text-neutral-800 dark:text-neutral-200">
        <slot name="description" />
    </div>

    <slot />
</div>
