<div class="sm:max-w-lg md:max-w-2xl lg:max-w-3xl space-y-10">
    <slot name="heading" />

    <div
        class="space-y-4 text-xl sm:text-2xl leading-8 sm:!leading-10 text-neutral-800">
        <slot name="description" />
    </div>

    <slot />
</div>
