---
// props
export interface Props {
    topMargin?: boolean;
    maxWidth?: string;
}
const { topMargin = "true", maxWidth = "max-w-2xl" } = Astro.props;
---

<div class:list={["space-y-6", topMargin && "mt-16 md:mt-24"]}>
    <slot name="top" />

    <div class:list={["text-balance", maxWidth]}>
        <slot name="heading" />
    </div>

    <slot name="middle" />

    <div class:list={["text-xl md:text-2xl tracking-tight leading-9 md:leading-10 text-neutral-700 text-pretty", maxWidth]}>
        <slot name="description" />
    </div>

    <slot />
</div>
