---
// props
export interface Props {
	size?: "small" | "large";
	classes?: string;
}
const { size = "small", classes } = Astro.props;
---

<div class:list={[size == "small" ? "space-y-12 sm:space-y-24" : "space-y-16 sm:space-y-52", classes]}>
	<slot />
</div>
