---
// props
export interface Props {
    hr?: boolean;
    small?: boolean;
    float?: boolean;
}
const { hr = true, small = false, float = false } = Astro.props;
---

<div class:list={[small ? "md:grid-cols-3" : "md:grid-cols-2", "grid gap-12"]}>
    <div
        class:list={[
            small && "col-span-3 md:col-span-1",
            "flex flex-col justify-between gap-6 md:gap-0 border-y md:border-b-0 border-neutral-800 dark:border-neutral-400 py-12 md:pb-0",
        ]}>
        <div class:list={[float && "sticky top-12"]}>
            <slot name="heading" />
        </div>

        <slot name="bottom" />
    </div>

    <div class:list={[small && "col-span-3 md:col-span-2"]}>
        <slot />
    </div>
</div>
