---
// props
export interface Props {
    small?: boolean;
    float?: boolean;
    reverse?: boolean;
}
const { small = false, float = false, reverse = false } = Astro.props;
---

<!-- <div class:list={["flex gap-12 flex-col md:flex-row"]}>
    <div
        class:list={[
            small ? `w-full md:w-1/4` : `w-full md:w-1/3`,
            reverse && `order-last md:order-first`,
            "flex flex-col justify-between gap-6 md:gap-0 border-y md:border-b-0 border-neutral-800 py-12 md:pb-0",
        ]}>
        <div class:list={[float && "sticky top-12"]}>
            <slot name="heading" />
        </div>

        <slot name="bottom" />
    </div>

    <div class:list={[small ? "w-full md:w-3/4" : `w-full md:w-2/3`]}>
        <slot />
    </div>
</div> -->
<div class:list={["grid grid-cols-12 md:grid-flow-col grid-rows-2 gap-12"]}>
    <div
        class:list={[
            float && "sticky top-12",
            small ? `col-span-12 md:col-span-3` : `col-span-12 md:col-span-4`,
            "border-y md:border-b-0 border-neutral-800 py-12 row-span-1",
        ]}>
        <slot name="heading" />
    </div>

    <div
        class:list={[
            small ? `col-span-12 md:col-span-3` : `col-span-12 md:col-span-4`,
            `self-end order-last`,
        ]}>
        <slot name="bottom" />
    </div>

    <div
        class:list={[
            small ? "col-span-12 md:col-span-9" : `col-span-12 md:col-span-8`,
            `row-span-2`,
        ]}>
        <slot />
    </div>
</div>
