---
export const prerender = true;

// layouts
import Layout from "@/layouts/BaseLayout";

// components
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Image from "@/components/image/Image";
---

<Layout
    title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.">
    <Container padBottom={true}>
        <div class="grid gap-16 md:grid-cols-2 md:gap-8 lg:gap-16">
            <div class="space-y-8 md:py-24">
                <h1>Ready to work together?</h1>

                <ContactForm />
            </div>

            <Image
                src="shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_019"
                metadata={false}
                loading="eager"
                sizes="75vw"
                class="object-cover w-full h-full"
            />
        </div>
    </Container>
</Layout>
