---
export const prerender = true;

// layouts
import Layout from "@/layouts/BaseLayout";

// components
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Picture from "@/components/image/Picture";
---

<Layout
    title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.">
    <div class="relative">
        <Picture src="shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_020.jpg" class="sm:absolute h-full w-full object-cover" />

        <Container classes="py-24">
            <div class="lg:max-w-2xl px-12 py-16 bg-white w-full">
                <div class="space-y-12">
                    <h2 class="h1 text-center lg:text-left">Ready to work together?</h2>

                    <ContactForm />
                </div>
            </div>
        </Container>
    </div>
</Layout>
