---
// layouts
import Layout from "@/layouts/BaseLayout";

// imports
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Testimonial from "@/components/Testimonial";
import { getCollection } from "astro:content";

// data
const testimonials = (await getCollection("testimonials")).slice(0, 2);
---

<Layout
    title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.">
    <Container>
        <div class="grid grid-cols-5 gap-12">
            <h2 class="col-span-5 text-balance max-w-xl text-gray-900">If you're ready to work together, so am I.</h2>
            <div class="space-y-8 col-span-3">
                <ContactForm darkTheme={false} />
            </div>

            <div class="space-y-10 col-span-2">
                {testimonials.map((t) => <Testimonial content={t} />)}
            </div>
        </div>
    </Container>
</Layout>
