---
export const prerender = false;

// layouts
import Layout from "@/layouts/BaseLayout";

// imports
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
---

<Layout
	title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
	description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
	footerPadding={false}
	navPadding={false}
>
	<div>
		<Container classes="py-16 md:py-24">
			<div class="max-w-5xl mx-auto space-y-12">
				<h1 class="text-center text-balance">If you're ready to work together, so am I.</h1>

				<div class="space-y-8 col-span-3">
					<ContactForm darkTheme={false} />
				</div>
			</div>
		</Container>
	</div>
</Layout>
