---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
---

<Layout
    title="Thanks - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    footerPadding={false}>
    <Container>
        <Heading>
            <h1 slot="heading">Thanks!</h1>
            <div slot="description">I really appreciate you contacting me. I've received your email and there's a good chance I'm reading it right now.</div>
        </Heading>
    </Container>
</Layout>
