---
// config
import { siteConfig } from "@/src/config";

// functions
import { getPublicPath } from "@/functions/Media";
---

<div class="white-ring hidden h-10 w-10 md:block lg:h-12 lg:w-12">
    <a href="/" aria-label="Home">
        <img
            src={getPublicPath(`me/me_04.jpg`)}
            alt={siteConfig.name}
            class="h-full w-full rounded-full object-cover"
            sizes="(min-width: 640px) 40px, 50px"
        />
    </a>
</div>
