---
// components
import Container from "@/components/content/Container";

// config
import { siteConfig } from "@/src/config";
---

<div class="py-2 sm:py-3 bg-gray-950 text-gray-100 text-sm sm:text-sm" id="banner">
    <Container>
        <div class="flex justify-between">
            <p class="hidden sm:block flex-none">Your Local Austin Car Photographer</p>

            <ul class="flex w-full justify-end gap-8">
                <li>
                    <a href="/contact" class="underline">{siteConfig.email}</a>
                </li>
                <li>
                    <a href={`tel:${siteConfig.phone.base}`} class="underline">
                        {siteConfig.phone.formatted}
                    </a>
                </li>
            </ul>
        </div>
    </Container>
</div>
