---
// data
import Navigation from "@/data/Navigation";

// props
export interface Props {
    classes?: string;
}
const { classes, ...attrs } = Astro.props;
---

<nav class={classes} {...attrs}>
    <ul
        class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
    >
        {
            Navigation.map((l) => (
                <a
                    href={l.url}
                    title={l.display}
                    class:list={[
                        "relative block px-3 py-2 transition",
                        Astro.url.pathname.includes(l.url) ? "text-rose-500 dark:text-rose-400" : "hover:text-rose-500 dark:hover:text-rose-400",
                    ]}
                >
                    {l.display}
                    {Astro.url.pathname.includes(l.url) && (
                        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-rose-500/0 via-rose-500/40 to-rose-500/0 dark:from-rose-400/0 dark:via-rose-400/40 dark:to-rose-400/0" />
                    )}
                </a>
            ))
        }
    </ul>
</nav>
