---
// data
import Navigation from "@/data/Navigation";

// props
export interface Props {
    classes?: string;
}
const { classes, ...attrs } = Astro.props;
---

<nav class={classes} {...attrs}>
    <ul class="flex gap-6 text-zinc-800 dark:text-zinc-200">
        {
            Navigation.map((l) => (
                <a
                    href={l.url}
                    title={l.display}
                    class:list={[
                        "lowercase",
                        Astro.url.pathname.includes(l.url) ? "text-rose-500 dark:text-rose-400" : "hover:text-rose-500 dark:hover:text-rose-400",
                    ]}>
                    {l.display}
                </a>
            ))
        }
    </ul>
</nav>
