---
// components
import { Icon } from "astro-icon";

// props
export interface Props {
    classes?: string;
}
const { classes } = Astro.props;
---

<div
    class:list={[
        "group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20",
        classes,
    ]}
>
    Menu
    <Icon name="bi:chevron-down" class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400" />
</div>
