---
// props
export interface Props {
    classes?: string;
}
const { classes } = Astro.props;
---

<div x-data={`{ flyout : false }`}>
    <button
        x-on:click={`flyout = true`}
        class:list={[
            "group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20",
            classes,
        ]}
    >
        Menu
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400"
        >
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
        </svg>
    </button>

    <!-- overlay -->
    <div
        class="fixed inset-0 z-50 h-full w-full bg-zinc-800/40 backdrop-blur-sm dark:bg-black/80"
        x-show={"flyout"}
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
    >
    </div>

    <!-- panel -->
    <div
        class="fixed inset-x-4 top-8 z-50 origin-top rounded-3xl bg-white p-8 ring-1 ring-zinc-900/5 dark:bg-zinc-900 dark:ring-zinc-800"
        x-show={"flyout"}
        x-on:click.outside={"flyout = false"}
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
    >
        <div class="flex flex-row-reverse items-center justify-between">
            <button aria-label="Close menu" class="-m-1 p-1" x-on:click={`flyout = false`}>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6 text-zinc-500 dark:text-zinc-400"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            <h2 class="text-sm font-medium text-zinc-600 dark:text-zinc-400">Navigation</h2>
        </div>

        <nav class="mt-6">
            <ul class="-my-2 divide-y divide-zinc-100 text-base text-zinc-800 dark:divide-zinc-100/5 dark:text-zinc-300">
                <a class="block py-2" href="/about">About</a>
                <a class="block py-2" href="/articles">Articles</a>
                <a class="block py-2" href="/projects">Projects</a>
                <a class="block py-2" href="/speaking">Speaking</a>
                <a class="block py-2" href="/uses">Uses</a>
            </ul>
        </nav>
    </div>
</div>
