---
// components
import Avatar from "@/components/navigation/Avatar";
import Container from "@/components/content/Container";
import DesktopNavigation from "@/components/navigation/DesktopNavigation";
import MobileNavigation from "@/components/navigation/MobileNavigation";
import ModeToggle from "@/components/navigation/ModeToggle";
---

<header class="relative z-50 mb-16 flex flex-col sm:mb-32">
    <div class="top-0 z-10 h-16 pt-6">
        <Container classes="top-5 w-full">
            <div class="relative flex gap-4">
                <div class="flex flex-1">
                    {Astro.url.pathname !== "/" && <Avatar />}
                </div>

                <div class="flex justify-end md:justify-center">
                    <MobileNavigation classes="sm:hidden" />
                    <DesktopNavigation classes="hidden sm:block" />
                </div>

                <div class="flex justify-end md:flex-1">
                    <div>
                        <ModeToggle />
                    </div>
                </div>
            </div>
        </Container>
    </div>
</header>
