---
// components
import Container from "@/components/content/Container";
import Logo from "@/components/Logo";
import MobileNavigation from "@/components/navigation/MobileNavigation";
import ModeToggle from "@/components/navigation/ModeToggle";

// data
import { Links } from "@/data/Navigation";
---

<header class="mt-12 mb-32 sm:mb-48">
    <Container>
        <div class="flex justify-between">
            <Logo />

            <div class="flex items-center justify-end">
                <MobileNavigation classes="sm:hidden" />

                <nav
                    class="hidden sm:flex items-center sm:gap-4 md:gap-6 text-neutral-900 dark:text-neutral-200 md:text-lg">
                    <!-- {
                        Links.map((l) => (
                            <a href={l.url} title={l.display}>
                                {l.display}
                            </a>
                        )).slice(0, 3)
                    } -->

                    <!--
                        x-on:mouseenter={`photography = true`}
                        x-on:mouseover.away={`photography = false`}
                        x-on:click.outside={"photography = false"}
                     -->
                    <div x-data={`{ photography : true }`} class="relative">
                        <a
                            href="/"
                            class="flex gap-2 items-center px-3 py-2"
                            x-on:mouseover={`photography = true`}>
                            Photography
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4 transition duration-200"
                                x-bind:class={`photography && "rotate-180"`}>
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19.5 8.25l-7.5 7.5-7.5-7.5">
                                </path>
                            </svg>
                        </a>

                        <div
                            class="absolute -left-full mt-2 z-10 flex"
                            x-show={"photography"}>
                            <div
                                class="max-w-md flex-auto border border-neutral-900">
                                <div class="p-6">
                                    <div class="group relative flex gap-x-6">
                                        <div>
                                            <a
                                                href="#"
                                                class="text-base font-semibold text-gray-900">
                                                Recent Shoots
                                                <span class="absolute inset-0">
                                                </span>
                                            </a>
                                            <p class="text-sm text-gray-600">
                                                Browse my recent automotive
                                                shoots.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
                                    <a
                                        href="#"
                                        class="text-base flex items-center justify-center gap-x-2.5 p-3 font-semibold text-gray-900 hover:bg-gray-100">
                                        <svg
                                            class="h-5 w-5 flex-none text-gray-400"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                            aria-hidden="true">
                                            <path
                                                fill-rule="evenodd"
                                                d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z"
                                                clip-rule="evenodd">
                                            </path>
                                        </svg>
                                        Hire Me
                                    </a>
                                    <a
                                        href="#"
                                        class="flex text-base items-center justify-center gap-x-2.5 p-3 font-semibold text-gray-900 hover:bg-gray-100">
                                        <svg
                                            class="h-5 w-5 flex-none text-gray-400"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                            aria-hidden="true">
                                            <path
                                                fill-rule="evenodd"
                                                d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
                                                clip-rule="evenodd">
                                            </path>
                                        </svg>
                                        Contact sales
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/contact">Contact Me</a>

                    <ModeToggle />
                </nav>
            </div>
        </div>
    </Container>
</header>
