---
// components
import Container from "@/components/Container";

// data
import Button from "@/components/Button";
import Navigation from "@/data/Navigation";

// functions
import { getImage } from "@/functions/Media";

const logo = await getImage("/logos/logo-black.png");
---

<div class="py-6 md:py-8 lg:py-12">
    <Container>
        <nav class="md:flex md:flex-row md:justify-between">
            <div class="flex flex-col sm:flex-row gap-3 sm:gap-6 md:gap-8 items-center">
                <a href="/" title="Erik S. Olsen">
                    <img src={logo.src} width="1000" height="234" class="w-36 md:w-40" />
                </a>

                <div class="flex gap-6 sm:gap-8">
                    {
                        Navigation.map((l) => (
                            <a
                                href={l.url}
                                title={l.display}
                                class="text-stone-800 underline decoration-transparent underline-offset-4 transition duration-200 hover:decoration-stone-800"
                            >
                                {l.display}
                            </a>
                        ))
                    }
                    <a
                        href="/contact"
                        title="Contact Me"
                        class="md:hidden px-3 text-stone-800 underline decoration-transparent underline-offset-4 transition duration-200 first:pl-0 last:pr-0 hover:decoration-stone-800 sm:px-4 md:px-6"
                    >
                        Contact Me
                    </a>
                </div>
            </div>

            <div class="hidden md:block">
                <Button theme="light" size="sm" text="Contact Me" url="/contact" />
            </div>
        </nav>
    </Container>
</div>
