---
// components
import Avatar from "@/components/navigation/Avatar";
import Container from "@/components/content/Container";
import DesktopNavigation from "@/components/navigation/DesktopNavigation";
import MobileNavigation from "@/components/navigation/MobileNavigation";
import ModeToggle from "@/components/navigation/ModeToggle";
---

<header class="mt-12 mb-24">
    <Container>
        <div class="flex">
            <div class="flex items-center gap-12">
                <div class="flex items-center gap-2">
                    <Avatar />
                    <a class="text-3xl font-extrabold lowercase tracking-tighter" href="/" title="Homepage">ErikOlsen</a>
                </div>

                <div>
                    <DesktopNavigation classes="hidden sm:block" />
                    <MobileNavigation classes="sm:hidden" />
                </div>
            </div>

            <div class="flex justify-end md:flex-1">
                <div class="flex items-center justify-center rounded-lg border-zinc-100 px-3 py-2 font-semibold text-zinc-800">Contact Me</div>

                <ModeToggle />
            </div>
        </div>
    </Container>
</header>
