---
// components
import Container from "@/components/Container"
---

<section class="py-3 bg-rose-100">
    <Container>
        <div class="flex justify-between items-center text-sm text-rose-800">
            <a href="/contact" title="Contact Me">
                erik@eriksolsen.com
            </a>

            <a href="/search" title="Search">
                Search
            </a>
        </div>
    </Container>
</section>