---
// components
import Container from "@/components/content/Container";
import Logo from "@/components/Logo";
import MobileNavigation from "@/components/navigation/MobileNavigation";
import ModeToggle from "@/components/navigation/ModeToggle";

// data
import Navigation from "@/data/Navigation";
---

<header class="pt-12">
    <Container>
        <div class="flex justify-between">
            <Logo />

            <div class="flex items-center justify-end">
                <MobileNavigation classes="sm:hidden" />

                <nav class="hidden sm:flex items-center sm:gap-6 text-neutral-900">
                    {
                        Navigation.map((l) => (
                            <a href={l.url} title={l.display} class:list={[Astro.url.pathname.includes(l.url) && "active"]}>
                                {l.display}
                            </a>
                        )).slice(0, 3)
                    }
                    <a href="/contact">Contact Me</a>

                    <ModeToggle />
                </nav>
            </div>
        </div>
    </Container>
</header>
