---
// components
import Container from "@/components/Container"

// props
export interface Props {
    backgroundColor: string,
    textColor: string
}

const { backgroundColor = "bg-transparent", textColor = "text-white" } = Astro.props as Props;
---

<section class:list={[`py-4`, backgroundColor]}>
    <Container>
        <div class:list={[`flex justify-between items-center text-sm`, textColor]}>
            <a href="/contact" title="Contact Me">
                erik@eriksolsen.com
            </a>

            <a href="/search" title="Search">
                Search
            </a>
        </div>
    </Container>
</section>