---
// components
import Avatar from "@/components/navigation/Avatar";
import Container from "@/components/content/Container";
import MobileNavigation from "@/components/navigation/MobileNavigation";
import ModeToggle from "@/components/navigation/ModeToggle";

// config
import { siteConfig } from "@/src/config";

// data
import Navigation from "@/data/Navigation";
---

<header class="mt-12 mb-24 lg:mb-36">
    <Container>
        <div class="flex justify-between">
            <div class="flex items-center gap-6 lg:gap-8">
                <div class="flex items-center gap-2">
                    <Avatar />

                    <a class="title" href="/" title="Homepage">{siteConfig.nameShort}</a>
                </div>

                <div>
                    <!-- desktop navigation -->
                    <nav class="hidden sm:block">
                        <ul>
                            {
                                Navigation.map((l) => (
                                    <a href={l.url} title={l.display} class:list={["navlink", Astro.url.pathname.includes(l.url) && "active"]}>
                                        {l.display}
                                    </a>
                                )).slice(0, 3)
                            }
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="flex items-center justify-end">
                <MobileNavigation classes="sm:hidden" />
                <a href="/contact" class="navlink hidden sm:block">Contact Me</a>

                <ModeToggle />
            </div>
        </div>
    </Container>
</header>
