---
// components
import Container from "@/components/Container";

// data
import Navigation from "@/data/navigation";

// functions
import { getImage } from "@/functions/Media";

const logo = await getImage("/logos/logo-black.png");
---

<div class="sticky top-0 z-10 bg-clip-padding backdrop-filter backdrop-blur-xl bg-stone-50/95">
    <div class="py-6 md:py-8">
        <Container>
            <nav class="flex flex-col sm:flex-row justify-between sm:items-center tracking-normal gap-4">
                <a href="/" title="Erik S. Olsen" class="place-self-center">
                    <img src={logo.src} width="1000" height="234" class="w-40 md:w-52" />
                </a>

                <div class="flex justify-between sm:gap-8">
                    {
                        Navigation.map((l) => (
                            <a
                                href={l.url}
                                title={l.display}
                                class="text-stone-800 underline decoration-transparent underline-offset-4 transition duration-200 hover:decoration-stone-800"
                            >
                                {l.display}
                            </a>
                        ))
                    }
                </div>
            </nav>
        </Container>
    </div>
</div>
