---
// components
import Container from "@/components/Container";
import NavigationBar from "@/components/navigation/NavigationBar";
import { Picture } from "@astrojs/image/components";

// data
import Navigation from "@/data/navigation";

// functions
import { getImage } from "@/functions/Media";

const logo = await getImage("/logos/logo-white.png");
---

<div class="sticky top-0 z-10 shadow-2xl">
    <NavigationBar />

    <div class="bg-gradient-to-r from-stone-600 to-stone-800 py-3 sm:py-5">
        <Container>
            <div class="flex flex-col sm:flex-row justify-between items-start md:items-center gap-3 md:gap-0">
                <div class="hidden sm:block">
                    <a href="/" title="Erik S. Olsen">
                        <Picture src={logo.src} widths={[250, 500, 1000]} aspectRatio="200:47" class="logo" alt="Erik S. Olsen" />
                    </a>
                </div>

                <nav
                    class="py-2 sm:py-0 justify-between w-full sm:justify-end md:font-medium text-sm sm:text-base md:text-lg flex gap-4 md:gap-16 tracking-tightest"
                >
                    <a href="/" title="Erik S. Olsen" class="block sm:hidden text-stone-100 hover:underline hover:underline-offset-4">Home</a>
                    {
                        Navigation.map((l) => (
                            <a href={l.url} title={l.display} class="text-stone-100 hover:underline hover:underline-offset-4">
                                {l.display}
                            </a>
                        ))
                    }
                </nav>
            </div>
        </Container>
    </div>
</div>
