---
// props
export interface Props {
    post: object;
}
const { post } = Astro.props;

// components
import Link from "@/components/Link";
---

<div class="group relative flex flex-col items-start space-y-4">
    <div class="flex w-full items-center justify-between gap-6">
        <a href={`/blog/${post.slug}`} title={post.data.title}>
            <h2 class="h3">
                {post.data.title}
            </h2>
            <span class="absolute inset-0"></span>
        </a>
    </div>

    <p
        class="text-xl leading-8 text-neutral-600 line-clamp-3 dark:text-neutral-400">
        {post.data.excerpt}
    </p>

    <Link text="Read article" theme="alt" />
</div>
