---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
---

<Layout>
    <Container>
        <div class="max-w-2xl mx-auto space-y-12">
            <h1 class="text-center text-balance">Whoops</h1>
            <div class="text-center text-balance text-2xl leading-relaxed">My apologies, that page seems to have gone missing.</div>
        </div>
    </Container>
</Layout>
