---
export const prerender = true;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";

// config
import { siteConfig } from "@/src/config";

// data
import About from "@/data/About";
import Projects from "@/data/Projects";

// functions
import { getPublicPath } from "@/functions/Media";
---

<Layout
    title="Erik S. Olsen - I'm a Digital Marketing Expert located in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. My expertise is designing and creating large-scale, data-driven marketing campaigns for e-commerce businesses.">
    <Container classes="py-32">
        <Heading>
            <h1 slot="heading">
                I do digital marketing<br /> & web development.
            </h1>
            <p slot="description">
                For fifteen years, I've run digital marketing campaigns. Lately,
                I've been in charge of revenue growth at ICG America, generating
                $50 million in direct-to-consumer sales.
            </p>
        </Heading>

        <ol class="items-center sm:flex">
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div
                        class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                        <svg
                            aria-hidden="true"
                            class="w-3 h-3 text-blue-800 dark:text-blue-300"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <div
                        class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700">
                    </div>
                </div>
                <div class="mt-3 sm:pr-8">
                    <h3
                        class="text-lg font-semibold text-gray-900 dark:text-white">
                        Flowbite Library v1.0.0
                    </h3>
                    <time
                        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                        Released on December 2, 2021
                    </time>
                    <p
                        class="text-base font-normal text-gray-500 dark:text-gray-400">
                        Get started with dozens of web components and
                        interactive elements.
                    </p>
                </div>
            </li>
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div
                        class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                        <svg
                            aria-hidden="true"
                            class="w-3 h-3 text-blue-800 dark:text-blue-300"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <div
                        class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700">
                    </div>
                </div>
                <div class="mt-3 sm:pr-8">
                    <h3
                        class="text-lg font-semibold text-gray-900 dark:text-white">
                        Flowbite Library v1.2.0
                    </h3>
                    <time
                        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                        Released on December 23, 2021
                    </time>
                    <p
                        class="text-base font-normal text-gray-500 dark:text-gray-400">
                        Get started with dozens of web components and
                        interactive elements.
                    </p>
                </div>
            </li>
            <li class="relative mb-6 sm:mb-0">
                <div class="flex items-center">
                    <div
                        class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                        <svg
                            aria-hidden="true"
                            class="w-3 h-3 text-blue-800 dark:text-blue-300"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <div
                        class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700">
                    </div>
                </div>
                <div class="mt-3 sm:pr-8">
                    <h3
                        class="text-lg font-semibold text-gray-900 dark:text-white">
                        Flowbite Library v1.3.0
                    </h3>
                    <time
                        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                        Released on January 5, 2022
                    </time>
                    <p
                        class="text-base font-normal text-gray-500 dark:text-gray-400">
                        Get started with dozens of web components and
                        interactive elements.
                    </p>
                </div>
            </li>
        </ol>

        <p>
            Finding creative ways to combine cutting-edge tools, deep targeting
            and personalized messaging is what drives me each day at work. It's
            what has allowed me to build, scale and maintain high-performing
            acquisition campaigns. Whatever the marketing channel, my approach
            is always the same: use a data-driven approach with a dash of
            automation to quickly scale successful marketing campaigns.
        </p>
        <p>
            Recently I've created an automated reporting system using Google
            Sheets and the Analytics & Ads API add-ons. I've also taken our CRO
            program in-house and we're running 3-5 large scale tests each month.
        </p>

        <div class="flex flex-col gap-4 sm:flex-row sm:gap-16">
            <div>
                <div>Things I Know</div>
                <ul class="text-sm">
                    {About.industry.map((a) => <li>{a}</li>)}
                </ul>
            </div>

            <div>
                <div>Things I Use</div>
                <ul class="text-sm">
                    {About.tools.map((a) => <li>{a}</li>)}
                </ul>
            </div>
        </div>
    </Container>
</Layout>
