---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import { Image } from "@astrojs/image/components";
import Block from "@/components/content/Block";
import Button from "@/components/Button";
import Container from "@/components/Container";
import Header from "@/components/content/Header";
import Link from "@/components/Link";
import RecentPost from "@/components/RecentPost";
import RecentShoot from "@/components/RecentShoot";

// functions
import { getImage } from "@/functions/Media";

// images
const header = "/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_019.jpeg";

const unsortedPosts = await Astro.glob("../pages/blog/*.mdx");
const posts = unsortedPosts
    .sort(function (a, b) {
        return new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
    })
    .slice(0, 3);

const unsortedShoots = await Astro.glob("../pages/photography/*.mdx");
const shoots = unsortedShoots
    .sort(function (a, b) {
        return new Date(b.date).valueOf() - new Date(a.date).valueOf();
    })
    .slice(0, 4);
---

<BaseLayout>
    <Header image={header}>
        <Block>
            <h1 slot="left">It's different working with me.</h1>

            <div slot="right" class="text-xl font-light leading-relaxed tracking-wide space-y-4">
                <p>
                    Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having
                    your car photographed for an online auction site, let's chat!
                </p>
                <p>
                    Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having
                    your car photographed for an online auction site, let's chat!
                </p>

                <div class="flex flex-col md:flex-row gap-3 md:gap-10">
                    <Link text="Hire Me!" url="/contact" />
                    <Link text="See More Photos" url="/photography" />
                </div>
            </div>
        </Block>

        <div class="grid sm:grid-cols-2 gap-10 lg:gap-20">
            {shoots.map((p) => <RecentShoot shoot={p} />)}
        </div>

        <div class="flex justify-center">
            <Button text="More Shoots" url="/photography" />
        </div>
    </Header>

    <div class="bg-stone-100 py-20 xl:py-40">
        <Container classes="space-y-20">
            <Block>
                <h2 slot="top" class="font-black text-5xl tracking-tight">Digital Marketing</h2>

                <div slot="left" class="text-xl font-light tracking-wide space-y-8">
                    <p class="text-xl leading-8">
                        Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in
                        having your car photographed for an online auction site, let's chat!
                    </p>
                </div>

                <ul slot="right" class="text-2xl font-semibold space-y-5 md:justify-self-end">
                    <li class="flex flex-row gap-2"><span class="font-light">&check;</span>Search Engine Marketing</li>
                    <li class="flex flex-row gap-2"><span class="font-light">&check;</span>Email Marketing</li>
                    <li class="flex flex-row gap-2"><span class="font-light">&check;</span>Data Analytics</li>
                    <li class="flex flex-row gap-2"><span class="font-light">&check;</span>Conversion Rate Optimization</li>
                    <li class="flex flex-row gap-2"><span class="font-light">&check;</span>Programming</li>
                </ul>
            </Block>

            <div class="grid sm:grid-cols-1 gap-20 lg:grid-cols-3">
                {posts.map((p) => <RecentPost post={p} />)}
            </div>

            <div class="flex justify-center">
                <Button text="More Posts" url="/blog" />
            </div>
        </Container>
    </div>
</BaseLayout>
