---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
---

<Layout title="Car Photographer in Austin, TX - I Shoot Professional Car Photos for Your Online Auction.">
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">I'm a professional car photographer in Austin.</h1>
				<div slot="description">
					With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography. Whether it's <i>Bring a Trailer</i>, <i> Cars & Bids </i>, <i>Hagerty</i> or <i>eBay</i>, I can help
					get top dollar for your vehicle auction.
				</div>

				<div class="flex gap-3">
					<a href="/contact" class="button button-primary w-full sm:w-fit shadow-md">Hire Me!</a>
					<a href="/photography/pricing" class="button button-ghost w-full sm:w-fit shadow-md">See Pricing</a>
				</div>
			</Heading>
		</Container>

		<Container size="large">
			<div class="grid grid-cols-6 gap-4 md:gap-6">
				<Figure
					src="https://cdn.cosmicjs.com/e8c5f950-7604-11ef-915f-61acd7484848-lit-show-2020_048.jpg"
					figureClass="col-span-6 md:col-span-2 shadow-2xl"
					class="w-full h-full object-cover"
					loading="eager"
					fetchpriority="high"
					decoding="async"
					sizes="(min-width: 768px) 33vw, 100vw"
				/>
				<Figure
					src="https://cdn.cosmicjs.com/4a07a420-760a-11ef-915f-61acd7484848-lit-show-2022_039.jpg"
					figureClass="col-span-6 md:col-span-2 shadow-2xl"
					class="w-full h-full object-cover"
					loading="eager"
					sizes="(min-width: 768px) 33vw, 100vw"
				/>
				<Figure
					src="https://cdn.cosmicjs.com/06560730-7605-11ef-915f-61acd7484848-lit-show-2020_012.jpg"
					figureClass="col-span-6 md:col-span-2 shadow-2xl"
					class="w-full h-full object-cover"
					loading="eager"
					sizes="(min-width: 768px) 33vw, 100vw"
				/>
				<Figure src="https://cdn.cosmicjs.com/364eb7d0-7604-11ef-915f-61acd7484848-911s-targa_016.jpg" figureClass="col-span-6 md:col-span-3 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 50vw, 100vw" />
				<Figure
					src="https://cdn.cosmicjs.com/6673aef0-760b-11ef-915f-61acd7484848-1960-porsche-356b-roadster_010.jpg"
					figureClass="col-span-6 md:col-span-3 shadow-2xl"
					class="w-full h-full object-cover"
					sizes="(min-width: 768px) 50vw, 100vw100vw"
				/>
				<Figure src="https://cdn.cosmicjs.com/2a8fce00-760b-11ef-915f-61acd7484848-white-993-c4s_022.jpg" figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 33vw, 50vw" />
				<Figure src="https://cdn.cosmicjs.com/14438540-7608-11ef-915f-61acd7484848-2022-backdraft-cobra_010.jpg" figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 33vw, 100vw" />
				<Figure
					src="https://cdn.cosmicjs.com/a34c6ca0-760a-11ef-915f-61acd7484848-2023-petrol-lounge_008.jpg"
					figureClass="col-span-6 md:col-span-2 shadow-2xl"
					class="w-full h-full object-cover object-[30%,50%]"
					sizes="(min-width: 768px) 33vw, 100vw"
				/>
			</div>
		</Container>
	</Section>
</Layout>
