---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Link from "@/components/Link";
import PostSnippet from "@/components/card/Article";

// data
import Gear from "@/data/Gear";

const unsortedPosts = await Astro.glob("../pages/blog/*.mdx");
const posts = unsortedPosts
    .sort(function (a, b) {
        return new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
    })
    .slice(0, 3);

const images = [
    {
        src: "/shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg",
        skew: "rotate-2",
    },
    {
        src: "/shoots/2021/2021-06-23-porsche-930/porsche-930-2021_014.jpg",
        skew: "-rotate-2",
    },
    {
        src: "/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_049.jpg",
        skew: "rotate-2",
    },
    {
        src: "/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_020.jpg",
        skew: "rotate-2",
    },
    {
        src: "/shoots/2017/2017-11-03-cota-classic/cota-classic-2017_004.jpg",
        skew: "-rotate-2",
    },
];
---

<BaseLayout>
    <div class="space-y-16 sm:space-y-20">
        <Container>
            <div class="max-w-2xl space-y-6">
                <h1>I shoot car photography<br />in Austin, TX.</h1>
                <p class="text-lg leading-relaxed text-zinc-600 dark:text-zinc-400">
                    With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography.
                    Whether it's <i>Bring a Trailer</i>, <i>Cars & Bids</i>, <i>Hagerty</i> or <i>eBay</i>, I can help get top dollar for your vehicle
                    auction.
                </p>

                <div class="flex flex-col gap-3 md:flex-row md:gap-10">
                    <Link text="Hire Me!" url="/contact" />
                    <Link text="See More Photos" url="/photography" />
                </div>
            </div>
        </Container>

        <div>
            <div class="flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
                {
                    images.map((image, imageIndex) => (
                        <div class:list={["relative aspect-[8/10] w-44 flex-none overflow-hidden sm:w-72", image.skew]}>
                            <Figure
                                src={image.src}
                                class:list={[
                                    "absolute inset-0 h-full w-full rounded-xl border-b-4 border-r-4 object-cover sm:rounded-2xl dark:border-zinc-600",
                                ]}
                                metadata={false}
                                sizes="(min-width: 640px) 18rem, 11rem"
                            />
                        </div>
                    ))
                }
            </div>
        </div>

        <Container>
            <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                <div class="flex flex-col gap-16">
                    {posts.map((p) => <PostSnippet post={p} />)}
                </div>

                <div class="lg:pl-16 xl:pl-24">
                    <div class="space-y-4 rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                        <h2 class="flex items-center text-sm font-semibold text-zinc-900 dark:text-zinc-100">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-5 w-5" viewBox="0 0 16 16">
                                <path
                                    class="fill-zinc-200 stroke-zinc-800 dark:fill-zinc-100/10 dark:stroke-zinc-500"
                                    d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z">
                                </path>
                            </svg>

                            <span class="ml-3 text-base font-semibold text-zinc-900 dark:text-zinc-100">Gear List</span>
                        </h2>

                        <p class="text-sm text-zinc-600 dark:text-zinc-400">
                            I change gear often. I'm finally settling into a groove though. I love my camera, Art lenses are top notch and DJI makes
                            amazing video tools.
                        </p>

                        <ul class="ml-3 list-inside space-y-1">
                            {Gear.map((g) => <li class="text-xs uppercase text-zinc-600 dark:text-zinc-400">{g}</li>)}
                        </ul>

                        <p class="text-sm text-zinc-600 dark:text-zinc-400">
                            If you really want to nerd out, I keep a Google Sheet of <a
                                class="underline"
                                href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT3jnQshccWCIEyZXv2S3W8ZLQfKbjsaBTJzgVZmJycm3CQld7xFvmrtydmTJ9jLcYg2ZH8PiQMkpzt/pubhtml">
                                all my gear
                            </a>. I use it to track retail pricing, used pricing and price paid.
                        </p>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</BaseLayout>
