---
// components
import BaseHead from "@/components/BaseHead"
import CenteredNavigation from "@/components/navigation/CenteredNavigation"
import Container from "@/components/Container"
import Footer from "@/components/Footer"
import Image from "@/components/image/Image"
import PostSnippet from "@/components/PostSnippet"

const allPosts = await Astro.glob("./blog/*.md")
const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 6);
---

<!DOCTYPE html>
<html lang="en">

<head>
    <BaseHead title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX" description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows." />

    <style lang="scss">
        @import "../assets/styles/base/mixins/mx-breakpoints.scss";
        @import "../assets/styles/base/mixins/mx-spacing.scss";

        main {
            .navigation {
                padding: var(--section-lg) 0;
                position: relative;
                z-index: 100;
            }

            .intro {
                position: relative;
                padding-bottom: var(--section-lg);
                display: flex;
                flex-direction: column-reverse;
                gap: var(--space-200);

                @include bp-md {
                    flex-direction: row;
                }

                .intro-content {
                    @include space-y(var(--space-400));
                    width: 100%;

                    @include bp-md {
                        width: 50%;
                        padding: var(--space-600) var(--space-200);
                    }

                    h1 {
                        margin: 0;
                    }

                    .intro-skills {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space-200);

                        @include bp-sm {
                            flex-direction: row;
                        }

                        @include bp-md {
                            flex-direction: column;
                        }

                        @include bp-lg {
                            flex-direction: row;
                        }

                        .skill-detail {
                            @include space-y(var(--space-100));

                            p {
                                color: rgba(var(--color-gray-600), 1);
                                line-height: var(--line-height-lg);
                            }

                            a {
                                color: rgba(var(--color-pink-500), 1);
                                font-weight: 600;
                                font-size: var(--text-lg);
                            }
                        }
                    }
                }

                .intro-image {
                    position: relative;

                    @include bp-md {
                        width: 50%;
                    }

                    :global(img) {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: var(--rounded-md);
                        box-shadow: var(--shadow-xl);

                        @include bp-md {
                            position: absolute;
                        }
                    }
                }
            }

            .posts {
                @include space-y(var(--space-500));
                padding: var(--section-lg) 0;

                .heading-break {
                    &::after {
                        border-bottom: 1px solid rgba(var(--color-blue-300), 1);
                    }

                    h2 {
                        color: rgba(var(--color-gray-800), 1);
                    }
                }

                .posts-list {
                    display: grid;
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                    gap: var(--space-400);

                    @include bp-md {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    :global(h4),
                    :global(.post-meta) {
                        color: rgba(var(--color-blue-900), 1);
                    }

                    :global(p) {
                        color: rgba(var(--color-gray-700), 1);
                    }
                }

                .more {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: .5rem;

                    a {
                        font-weight: 500;
                        color: rgba(var(--color-blue-800), 1);
                        font-size: var(--text-xl);
                    }
                }
            }

            .photos {
                height: 50vh;

                :global(picture) {
                    height: 100%;
                }

                :global(img) {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .photos-list {
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(8, 5vh);
                    gap: var(--space-200);

                    @include bp-sm {
                        grid-template-rows: repeat(8, 15vh);
                    }

                    :global(picture) {
                        height: 100%;
                        width: 100%;

                        :global(img) {
                            object-fit: cover;
                            border-radius: var(--rounded-md);
                            box-shadow: var(--shadow-lg);
                        }
                    }

                    .grid-1 {
                        grid-area: 1 / 1 / 3 / 3;
                    }

                    .grid-2 {
                        grid-area: 1 / 3 / 3 / 5;
                    }

                    .grid-3 {
                        grid-area: 3 / 1 / 6 / 5;
                    }

                    .grid-4 {
                        grid-area: 6 / 1 / 9 / 5;
                    }

                    .grid-5 {
                        grid-area: 1 / 5 / 6 / 9;
                    }

                    .grid-6 {
                        grid-area: 6 / 5 / 9 / 9;
                    }
                }
            }
        }
    </style>
</head>

<body>
    <main>
        <div class="navigation">
            <CenteredNavigation />
        </div>

        <Container>
            <section class="intro">
                <div class="intro-image">
                    <Image file="me/2020-10-23-lakeway/me-and-wyatt.jpeg" sizes="90vw, (min-width):" />
                </div>

                <div class="intro-content">
                    <h1>Hey there. I'm a digital marketer in Austin, TX </h1>

                    <hr class="short" />

                    <div class="intro-skills">
                        <div class="skill-detail">
                            <h4 class="h5">Digital Marketing</h4>
                            <p>I'm currently the Director of Digital Engagement for ICG America. Running our SEM and CRO operations.</p>
                            <a href="/about" class="arrow">My Resume</a>
                        </div>

                        <div class="skill-detail">
                            <h4 class="h5">Photography</h4>
                            <p>I'm currently the Director of Digital Engagement for ICG America. Running our SEM and CRO operations.</p>
                            <a href="/about" class="arrow">My Photos</a>
                        </div>
                    </div>
                </div>
            </section>
        </Container>

        <div style="background: rgba(var(--color-blue-50), 1)">
            <Container>
                <div class="posts">
                    <div class="heading-break">
                        <h2>Sometimes I <span>Write Things</span></h2>
                    </div>

                    <section class="posts-list">
                        {filteredPosts.map(p =>
                        <PostSnippet post={p} showMeta={true} />
                        )}
                    </section>

                    <div class="more">
                        <h3>Want More?</h3>
                        <a href="/blog">Keep Reading on my Blog</a>
                    </div>
                </div>
            </Container>
        </div>

        <div class="photos">
            <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpeg" sizes="100vw" />
        </div>

        <Footer />
    </main>
</body>

</html>