---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Link from "@/components/Link";
import PostSnippet from "@/components/card/Article";

const unsortedPosts = await Astro.glob("../pages/blog/*.mdx");
const posts = unsortedPosts
    .sort(function (a, b) {
        return new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
    })
    .slice(0, 3);

const images = [
    {
        src: "/shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpeg",
        skew: "rotate-2",
    },
    {
        src: "/shoots/2021/2021-06-23-porsche-930/porsche-930-2021_014.jpeg",
        skew: "-rotate-2",
    },
    {
        src: "/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_049.jpeg",
        skew: "rotate-2",
    },
    {
        src: "/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_020.jpeg",
        skew: "rotate-2",
    },
    {
        src: "/shoots/2017/2017-11-03-cota-classic/cota-classic-2017_004.jpeg",
        skew: "-rotate-2",
    },
];
---

<BaseLayout>
    <div class="space-y-16 sm:space-y-20">
        <Container>
            <div class="max-w-2xl space-y-6">
                <h1>I shoot car photography<br />in Austin, TX.</h1>
                <p class="text-base text-zinc-600 dark:text-zinc-400">
                    With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography.
                    Whether it's <i>Bring a Trailer</i>, <i>Cars & Bids</i>, <i>Hagerty</i> or <i>eBay</i>, I can help get top dollar for your vehicle
                    auction.
                </p>

                <div class="flex flex-col gap-3 md:flex-row md:gap-10">
                    <Link text="Hire Me!" url="/contact" />
                    <Link text="See More Photos" url="/photography" />
                </div>
            </div>
        </Container>

        <div>
            <div class="flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
                {
                    images.map((image, imageIndex) => (
                        <div class:list={["relative aspect-[8/10] w-44 flex-none overflow-hidden sm:w-72", image.skew]}>
                            <Figure
                                src={image.src}
                                class:list={[
                                    "absolute inset-0 h-full w-full rounded-xl border-b-4 border-r-4 object-cover sm:rounded-2xl dark:border-zinc-600",
                                ]}
                                metadata={false}
                                sizes="(min-width: 640px) 18rem, 11rem"
                            />
                        </div>
                    ))
                }
            </div>
        </div>

        <Container>
            <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                <div class="flex flex-col gap-16">
                    {posts.map((p) => <PostSnippet post={p} />)}
                </div>

                <div class="space-y-10 lg:pl-16 xl:pl-24"></div>
            </div>
        </Container>
    </div>
</BaseLayout>
