---
// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import Image from "@/components/image/Image"
import PostSnippet from "@/components/PostSnippet"
import ProjectSnippet from "@/components/ProjectSnippet"

// data
import Projects from "@/data/projects"

const allPosts = await Astro.glob("./blog/*.md")
const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 6);
---

<!DOCTYPE html>
<html lang="en">

<head>
    <BaseHead title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX" description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows." />

    <style lang="scss">
        @import "../assets/styles/base/mixins/mx-breakpoints.scss";
        @import "../assets/styles/base/mixins/mx-spacing.scss";

        .projects {
            @include space-y(var(--space-200));

            @include bp-md {
                @include space-y(var(--space-400));
            }

            .projects-list {
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: var(--space-500);

                @include bp-sm {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: var(--space-100);

            div.full,
            figure.half,
            figure.third {
                grid-column: span 12 / span 12;

                :global(img) {
                    width: 100%;
                    object-fit: cover;
                }
            }

            div.full {
                :global(img) {
                    height: auto;

                    @include bp-md {
                        height: 70vh;
                    }
                }
            }

            figure.half {
                @include bp-md {
                    grid-column: span 6 / span 6;
                }

                :global(img) {
                    height: auto;

                    @include bp-md {
                        height: 40vh;
                    }
                }
            }

            figure.third {
                @include bp-md {
                    grid-column: span 4 / span 4;
                }

                :global(img) {
                    height: auto;

                    @include bp-md {
                        height: 50vh;
                    }
                }
            }
        }

        .posts {
            @include space-y(var(--space-200));

            @include bp-md {
                @include space-y(var(--space-400));
            }

            .posts-list {
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: var(--space-400);

                @include bp-md {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: var(--space-700);
                }

                @include bp-xl {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">Hey there.<br />I'm Erik Olsen.</h1>
                <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at <a href="http://www.icgamerica.com" title="ICG America, Inc">ICG America</a>, generating $50 million in direct-to-consumer sales.</p>
                <p><i>Oh yeah</i>, I also shoot <a href="/photography" title="Car Photography in Austin, TX">car photography</a>.</p>
            </Heading>
        </Container>

        <Container>
            <div class="projects">
                <h2>Recent Projects</h2>

                <div class="projects-list">
                    {Projects.map(p =>
                    <ProjectSnippet project={p} />
                    )}
                </div>
            </div>
        </Container>

        <div class="gallery">
            <div class="full">
                <Image file="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_073.jpeg" sizes="100vw" />
            </div>

            <figure class="half">
                <Image file="shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_007.jpeg" sizes="(min-width: 768px) 50vw, 100vw" />
            </figure>
            <figure class="half">
                <Image file="shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_011.jpeg" sizes="(min-width: 768px) 50vw, 100vw" />
            </figure>

            <figure class="third">
                <Image file="shoots/2021/2021-06-23-porsche-930/porsche-930-2021_002.jpeg" sizes="(min-width: 768px) 33vw, 100vw" />
            </figure>
            <figure class="third">
                <Image file="shoots/2021/2021-06-23-porsche-930/porsche-930-2021_014.jpeg" sizes="(min-width: 768px) 33vw, 100vw" />
            </figure>
            <figure class="third">
                <Image file="shoots/2021/2021-06-23-porsche-930/porsche-930-2021_049.jpeg" sizes="(min-width: 768px) 33vw, 100vw" />
            </figure>
        </div>

        <Container>
            <div class="posts">
                <h2>Recent Posts</h2>

                <section class="posts-list">
                    {filteredPosts.map(p =>
                    <PostSnippet post={p} />
                    )}
                </section>
            </div>
        </Container>
    </BaseLayout>
</body>

</html>