---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
---

<Layout title="Car Photographer in Austin, TX - I Shoot Professional Car Photos for Your Online Auction.">
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">I'm a professional car photographer in Austin.</h1>
				<div slot="description">
					With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography. Whether it's <i>Bring a Trailer</i>, <i> Cars & Bids </i>, <i>Hagerty</i> or <i>eBay</i>, I can help
					get top dollar for your vehicle auction.
				</div>

				<div class="flex gap-3">
					<a href="/contact" class="button button-primary w-full sm:w-fit shadow-md">Hire Me!</a>
					<a href="/photography/pricing" class="button button-ghost w-full sm:w-fit shadow-md">See Pricing</a>
				</div>
			</Heading>
		</Container>

		<div class="grid grid-cols-6">
			<Figure
				src="https://cdn.cosmicjs.com/e8c5f950-7604-11ef-915f-61acd7484848-lit-show-2020_048.jpg"
				figureClass="col-span-6 md:col-span-2 shadow-xl"
				class="w-full h-full object-cover"
				loading="eager"
				fetchpriority="high"
				decoding="async"
				sizes="(min-width: 768px) 33vw, 100vw"
			/>
			<Figure src="https://cdn.cosmicjs.com/4a07a420-760a-11ef-915f-61acd7484848-lit-show-2022_039.jpg" figureClass="col-span-3 md:col-span-2 shadow-xl" class="w-full h-full object-cover" loading="eager" sizes="(min-width: 768px) 33vw, 50vw" />
			<Figure src="https://cdn.cosmicjs.com/06560730-7605-11ef-915f-61acd7484848-lit-show-2020_012.jpg" figureClass="col-span-3 md:col-span-2 shadow-xl" class="w-full h-full object-cover" loading="eager" sizes="(min-width: 768px) 33vw, 100vw" />
			<Figure src="https://cdn.cosmicjs.com/364eb7d0-7604-11ef-915f-61acd7484848-911s-targa_016.jpg" figureClass="col-span-6 shadow-xl" class="w-full h-full object-cover" sizes="100vw" />
			<Figure
				src="https://cdn.cosmicjs.com/2c7c4370-7605-11ef-915f-61acd7484848-chevy-impala-ss_004.jpg"
				figureClass="col-span-6 md:col-span-3 lg:col-span-2 shadow-xl"
				class="w-full h-full object-cover"
				loading="eager"
				sizes="(min-width: 768px) 50vw, (min-width: 1024px) 33vw, 100vw"
			/>
			<Figure
				src="https://cdn.cosmicjs.com/48f90c90-7605-11ef-915f-61acd7484848-1966-jaguar-xke-series-1_001.jpg"
				figureClass="col-span-6 md:col-span-3 lg:col-span-4 shadow-xl"
				class="w-full h-full object-cover object-[30%,50%]"
				loading="eager"
				sizes="(min-width: 768px) 50vw, (min-width: 1024px) 67vw, 100vw"
			/>
		</div>
	</Section>
</Layout>
