---
// props
export interface Props {
    shoot: object;
    classes?: string;
}
const { shoot, classes } = Astro.props;

// components
import Figure from "../../image/Figure.astro";
---

<a href={`/photography/${shoot.slug}`} class:list={["relative", classes]}>
    <Figure
        src={shoot.data.hero}
        figureClass="w-full h-full"
        class="w-full h-full object-cover"
        metadata={false}
        loading="eager"
        sizes="50vw"
    />
    <div
        class="absolute bottom-0 right-0 bg-white md:w-3/4 lg:w-1/2 p-6 xl:p-12">
        <div
            class="font-medium md:font-semibold lg:font-extrabold tracking-tighter text-xl sm:text-3xl md:text-4xl">
            {shoot.data.title}
        </div>
    </div>
</a>
