<style lang="scss">
    @import "../assets/styles/base/mixins/mx-breakpoints.scss";
    @import "../assets/styles/base/mixins/mx-spacing.scss";

    .about {
        display: flex;
        flex-direction: column;
        gap: var(--space-200);

        @include bp-sm {
            flex-direction: row;
        }

        img {
            height: 20rem;
            object-fit: cover;
            border-radius: var(--rounded-base);
            box-shadow: none;

            @include bp-sm {
                height: auto;
                width: 10rem;
            }
        }

        div.text {
            font-size: var(--text-lg);
            @include space-y(var(--space-50));

            h2 {
                font-size: var(--text-7xl);
            }

            p {
                line-height: var(--line-height-lg);
            }
        }
    }
</style>

<div class="about">
    <img src="https://cdn.eriksolsen.com/images/avatar.jpg" alt="Erik S. Olsen" />

    <div class="text">
        <h2>Thanks for Reading!</h2>
        <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at <a href="http://www.icgamerica.com" title="ICG America, Inc">ICG America</a>, generating $50 million in direct-to-consumer sales.</p>
        <p><i>Oh yeah</i>, I also shoot <a href="/photography" title="Car Photography in Austin, TX">car photography</a>.</p>
    </div>
</div>