---
// components
import Footer from "@/components/Footer"

// props
export interface Props {
    classes?: string
}
const { classes } = Astro.props;

const allPosts = await Astro.glob("../pages/blog/*.mdx")
const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 4);
---

<main>
    <slot name="navigation" />

    <div class:list={[`content`, classes]}>
        <slot name="content" />
    </div>

    <Footer recentPosts={filteredPosts} />
</main>