---
// css
import "../assets/styles/styles.scss";

// data
import { siteConfig } from "@/src/config"

// props
export interface Props {
    title?: string,
    description?: string
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
} = Astro.props;
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content={siteConfig.name} />
<meta name="description" content={description}>

<title>{title}</title>