---
// components
import Footer from "@/components/Footer";

// props
export interface Props {
    classes?: string;
}
const { classes } = Astro.props;
---

<main>
    <slot name="navigation" />

    <div class:list={[`content`, classes]}>
        <slot name="content" />
    </div>

    <Footer />
</main>
