---
// data
import { siteConfig } from "@/src/config";

// props
export interface Props {
    title?: string;
    description?: string;
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
} = Astro.props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content={siteConfig.name} />
<meta name="description" content={description} />

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<style>
    @font-face {
        font-family: "Inter";
        font-weight: 100 900;
        font-style: oblique 0deg 10deg;
        src: url("/fonts/Inter.var.woff2") format("woff2");
    }

    html {
        font-family: "Inter", sans-serif;
        font-variation-settings: "slnt" 0deg;
    }
    .italic {
        font-variation-settings: "slnt" 5deg;
    }
</style>

<script is:inline src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.6/dist/bigger-picture.min.js"></script>
