---
import { siteConfig } from "@/config";

// props
export interface Props {
    darkTheme?: boolean;
    showPhone?: boolean;
}
const { darkTheme = false, showPhone = true } = Astro.props;
---

<form class="grid grid-cols-2 gap-6" action="/api/contact/send" method="POST">
    <div class="space-y-6">
        <div class="space-y-1 sm:space-y-2 col-span-2">
            <label for="name" class:list={[darkTheme && `text-neutral-300`]}
                >Name</label
            >
            <input
                type="text"
                autocomplete="name"
                name="name"
                id="name"
                required
            />
        </div>

        <div class="grid grid-cols-2 gap-6">
            <div class="space-y-1 sm:space-y-2">
                <label
                    for="email"
                    class:list={[darkTheme && `text-neutral-300`]}>E-mail</label
                >
                <input
                    type="email"
                    autocomplete="email"
                    name="email"
                    id="email"
                    required
                />
            </div>

            <div class="space-y-1 sm:space-y-2">
                <label
                    for="phone"
                    class:list={[darkTheme && `text-neutral-300`]}>Phone</label
                >
                <input
                    type="tel"
                    name="phone"
                    id="phone"
                    aria-describedby="phone-optional"
                    autocomplete="tel"
                />
            </div>
        </div>
    </div>

    <div class="space-y-1 sm:space-y-2 flex flex-col">
        <label for="message" class:list={[darkTheme && `text-neutral-300`]}
            >How can I help you?</label
        >
        <textarea
            id="message"
            name="message"
            aria-describedby="message-optional"
            class="h-full"></textarea>
    </div>

    <!-- pathname -->
    <input type="hidden" name="url" id="url" value={Astro.url.pathname} />

    <div class="hidden">
        <label for="zip" class:list={[darkTheme && `text-neutral-300`]}
            >Zip Code</label
        >
        <input name="zip" id="zip" />
    </div>

    <div
        class="col-span-2 flex flex-col gap-y-6 md:flex-row md:justify-between md:items-center"
    >
        <button
            class:list={[
                darkTheme && `button-inverse text-xl`,
                `button-primary button text-base`,
            ]}>Let's Talk</button
        >

        {
            showPhone && (
                <div
                    class:list={[
                        `text-base md:text-right text-center`,
                        darkTheme ? `text-neutral-300` : `text-neutral-700`,
                    ]}
                >
                    I'm also available for a <br />
                    call or text at{" "}
                    <a href={`tel:${siteConfig.phone.base}`} class="underline">
                        {siteConfig.phone.formatted}
                    </a>
                    .
                </div>
            )
        }
    </div>
</form>

<!-- <script>
    import { isInputError } from "astro:actions";
    import { actions } from "astro:actions";

    const form = document.getElementById("contactForm") as HTMLFormElement;

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);

        const { data, error } = await actions.contact.safe(formData);

        if (data.success) {
            window.location.replace("/contact/success");
        }
        if (error) {
            console.log(error)
        }
    });
</script> -->
