---
// components
import ContactForm from "./ContactForm.astro";
import Container from "./content/Container.astro";
import Split from "./content/Split.astro";

// config
import { siteConfig } from "../config";

// data
import { Testimonials } from "@/data/Testimonials";

// functions
import { getPublicPath } from "@/functions/Media";
---

<Container classes="py-32 md:py-48">
    <div class="grid grid-cols-2">
        <h2>Let's Work Together!</h2>
    </div>

    <ContactForm />
</Container>
