---
// components
import ContactForm from "./ContactForm.astro";
import Container from "./content/Container.astro";
---

<Container classes="py-32 md:py-48">
    <div class="grid grid-cols-2">
        <h2>Let's Work Together!</h2>
    </div>

    <ContactForm />
</Container>
