---
import { siteConfig } from "@/src/config";

import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Square from "@/images/logos/square-light.svg";

// pages to not include the form on
const pages = ["contact"];
const includeForm = !pages.some((string) => Astro.url.pathname.includes(string));
---

<footer class="bg-cobalt-950 py-8">
	<Container>
		<div class="flex justify-between items-center">
			<Square class="size-12" />

			<nav class="text-pampas-50 uppercase">
				<ul class="flex gap-x-8 items-center">
					<li>Car Photography</li>
					<li>Shoots</li>
					<li>Pricing</li>
					<li>
						<a href="" class="button button-ghost button-inverse font-semibold">Contact</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="mt-5 flex items-center justify-between gap-4 md:gap-6 text-sm text-pampas-50">
			<p>
				<a href="https://www.bible.com/bible/111/JER.29.11.NIV" title="For I know the plans I have for you...">Jeremiah 29:11</a>
			</p>

			<div class="flex gap-x-4">
				<p>&copy; {`${new Date().getFullYear()} ${siteConfig.name}`}</p>
				<p><a href="/privacy/">Privacy Policy</a></p>
			</div>
		</div>
	</Container>
</footer>
