---
// components
import ContainerInner from "@/components/content/ContainerInner";
import ContainerOuter from "@/components/content/ContainerOuter";

// data
import Navigation from "@/data/Navigation";
---

<footer class="mt-32">
    <ContainerOuter>
        <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
            <ContainerInner>
                <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                    <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                        {
                            Navigation.slice(0, 3).map((l) => (
                                <a href={l.url} title={l.display} class="transition hover:text-teal-500 dark:hover:text-teal-400">
                                    {l.display}
                                </a>
                            ))
                        }
                    </div>

                    <p class="text-sm text-zinc-400 dark:text-zinc-500">
                        &copy; {new Date().getFullYear()} Spencer Sharp. All rights reserved.
                    </p>
                </div>
            </ContainerInner>
        </div>
    </ContainerOuter>
</footer>
