---
// components
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Logo from "@/components/Logo";

// config
import { siteConfig } from "@/src/config";

// functions
import { getPublicPath } from "@/functions/Media";
---

<!-- {
    !Astro.url.pathname.includes("contact") && (
        <div class="relative">
            <img src={getPublicPath(`shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017.jpg`)} class="absolute object-cover w-full h-full grayscale contrast-75 brightness-50" />

            <div class="py-8 lg:py-0">
                <Container>
                    <div class="p-8 my-8 lg:my-0 lg:p-20 bg-white w-full md:w-5/6 lg:w-2/3">
                        <div class="space-y-8">
                            <h2 class="h1">Ready to work together?</h2>

                            <ContactForm />
                        </div>
                    </div>
                </Container>
            </div>
        </div>
    )
} -->{
    !Astro.url.pathname.includes("contact") && (
        <Container>
            <div class="grid grid-cols-2 gap-12">
                <div>
                    <h2 class="h1">Ready to work together?</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                </div>

                <div>
                    <ContactForm />
                </div>
            </div>
        </Container>
    )
}

<div class="bg-white py-16">
    <Container>
        <footer class="text-base md:text-lg">
            <div class="flex lg:flex-row flex-col items-center justify-between gap-6">
                <Logo />

                <div class="flex flex-col gap-6">
                    <div class="flex flex-wrap gap-x-6 gap-y-2 justify-center text-neutral-900">
                        <a href="/about" title="About Erik Olsen">About</a>
                        <a href="/photography" title="Austin Car Photography">Photography</a>
                        <a href="/blog" title="Articles on Car Photography, Tech and Marketing">Blog</a>
                        <a href="/contact" title="Contact Erik Olsen">Contact Me</a>
                    </div>
                </div>

                <div class="flex items-center justify-between gap-4 md:gap-6 text-neutral-500 text-base">
                    <p>
                        <a href="https://www.bible.com/bible/111/JER.29.11.NIV" title="For I know the plans I have for you...">Jeremiah 29:11</a>
                    </p>

                    <p>
                        &copy; {new Date().getFullYear()}
                        {siteConfig.name}
                    </p>
                </div>
            </div>
        </footer>
    </Container>
</div>
