---
// components
import { SignedIn, SignedOut, UserButton, SignInButton } from "@clerk/astro/components";
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";

// config
import { siteConfig } from "@/src/config";

// pages to not include the form on
const pages = ["contact", "dashboard"];
const includeForm = !pages.some((string) => Astro.url.pathname.includes(string));
---

<div>
	<Container classes={includeForm && `pt-32`}>
		{
			includeForm && (
				<div class="z-10 relative space-y-12 lg:space-y-20">
					<h1 class="max-w-3xl text-balance">If you're ready to work together, so am I!</h1>

					<div class="pb-32">
						<ContactForm darkTheme={false} />
					</div>
				</div>
			)
		}
	</Container>
</div>

<Container>
	<footer class:list={["pb-10 pt-10", includeForm && `border-t border-gray-700/10`]}>
		<div class="flex lg:flex-row flex-col items-center justify-between gap-6">
			<div class="flex flex-col gap-6">
				<div class="flex flex-wrap gap-x-6 gap-y-6 justify-center items-center">
					<a href="/photography" title="Austin Car Photography">Photography</a>
					<a href="/blog" title="Articles on Car Photography, Tech and Marketing">Blog</a>
					<a href="/contact" title="Contact Erik Olsen">Contact Me</a>
					<a href="/privacy" title="Privacy Policy">Privacy Policy</a>
					<SignInButton forceRedirectUrl="/dashboard" />
				</div>
			</div>

			<div class="flex items-center justify-between gap-4 md:gap-6 text-base">
				<p>
					<a href="https://www.bible.com/bible/111/JER.29.11.NIV" title="For I know the plans I have for you...">Jeremiah 29:11</a>
				</p>

				<p>
					&copy; {`${new Date().getFullYear()} ${siteConfig.name}`}
				</p>
			</div>
		</div>
	</footer>
</Container>
