---
// components
import Container from "@/components/Container"

// data
import Navigation from "@/data/navigation"
---

<style lang="scss">
    @import "../assets/styles/base/mixins/mx-breakpoints.scss";
    @import "../assets/styles/base/mixins/mx-spacing.scss";

    footer {
        @include space-y(var(--space-500));
        padding: var(--section-lg) 0;

        .contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-200);

            h2 {
                color: white;
            }

            a {
                font-size: var(--text-lg);
                font-weight: 600;
                transition: var(--transition-short);
                display: flex;
                align-items: center;
                color: white;

                &:hover {

                    .button-icon,
                    .button-text {
                        background: rgba(var(--color-pink-400), .4);
                    }
                }

                .button-icon {
                    padding: var(--space-50);
                    font-weight: 400;
                    border-radius: var(--rounded-md);
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-left: 1px solid rgba(var(--color-pink-600), 1);
                    border-top: 1px solid rgba(var(--color-pink-600), 1);
                    border-bottom: 1px solid rgba(var(--color-pink-600), 1);
                    transition: background .3s ease-in-out;
                }

                .button-text {
                    padding: var(--space-50);
                    border-top-right-radius: var(--rounded-md);
                    border-bottom-right-radius: var(--rounded-md);
                    border: 1px solid rgba(var(--color-pink-600), 1);
                    transition: background .3s ease-in-out;
                }
            }
        }

        hr {
            background: none;
            border: 0;
            border-bottom: 1px solid rgba(var(--color-pink-400), 1);
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: var(--space-900);

            .description {
                width: 50%;
                font-size: var(--text-2xl);
                font-weight: 200;
                line-height: var(--line-height-lg);
                color: rgba(var(--color-gray-100), 1);
            }

            nav {
                display: flex;
                align-items: center;
                gap: var(--space-400);

                &>div {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-50);

                    p {
                        font-weight: 600;
                        font-size: var(--text-xl);
                        color: white;
                    }

                    a {
                        font-weight: 300;
                        color: rgba(var(--color-gray-100), 1);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
</style>

<div style="background: rgba(var(--color-pink-500), 1);">
    <Container>
        <footer>
            <div class="contact">
                <h2>
                    Enough Talking.<br />
                    Let's Work Together.
                </h2>

                <a href="/contact">
                    <span class="button-icon">
                        &#9993;
                    </span>
                    <span class="button-text">Contact Me</span>
                </a>
            </div>

            <hr />

            <div class="navigation">
                <p class="description">Hey there. I'm Erik Olsen, a digital marketing expert and photographer based out of Austin, TX.</p>

                <nav>
                    <div>
                        <p>Pages</p>
                        <a href="/">Home</a>
                        <a href="/">About Me</a>
                        <a href="/">Photography</a>
                        <a href="/">Contact Me</a>
                    </div>
                    <div>
                        <p>Recent Posts</p>
                        <a href="/">Post 1</a>
                        <a href="/">Post 2</a>
                        <a href="/">Post 3</a>
                        <a href="/">Post 4</a>
                    </div>
                </nav>
            </div>
        </footer>
    </Container>
</div>