<div class="headings">
    <!-- heading -->
    <div class="heading">
        <slot name="heading" />
    </div>

    <!-- subheading -->
    <div class="description">
        <slot />
    </div>
</div>