---
// props
export interface Props {
    url: string;
    text: string;
}
const { url, text } = Astro.props;
---

<a href={url} title={text} class="font-semibold w-fit text-lg group">
    {text}
    <p class="transition duration-100 group-hover:translate-x-1 transform inline-block">&rarr;</p>
</a>
