---
// props
export interface Props {
    url: string;
    text: string;
}
const { url, text } = Astro.props;
---

<a href={url} title={text} class="font-semibold w-fit">
    <span class="hover:underline underline-offset-4 decoration-1">{text}</span> &rarr;
</a>
