<form class="space-y-8 max-w-3xl mx-auto" action="/api/auth/login" method="POST">
    <div class="space-y-1 sm:space-y-2">
        <label for="email">Email</label>
        <input type="email" autocomplete="email" name="email" id="email" required />
    </div>

    <div class="space-y-1 sm:space-y-2">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
    </div>

    <button class="button-primary button text-base">Login</button>
</form>
