<!-- <a href="/" class="w-fit bg-rose-600 font-black uppercase tracking-tighter text-2xl md:text-3xl italic text-white py-2 pl-4 pr-5">erikolsen</a> -->
<a href="/" class="w-fit bg-white font-black uppercase tracking-tighter text-2xl md:text-3xl text-neutral-800 py-2 pl-4 pr-5 -skew-x-12">
    <div class="skew-x-0">erikolsen</div>
</a>
