---
// config
import { siteConfig, imageConfig } from "@/src/config"

// props
export interface Props {
    color?: string,
    orientation?: string,
}
const { color = "dark", orientation = "horizontal" } = Astro.props;
---

<style lang="scss">
    a {
        img {
            width: var(--width);
            height: var(--height);
        }
    }
</style>

<a href="/" title={siteConfig.name}>
    <img src={`${imageConfig.cloudUrl}/logo/${orientation}-${color}.svg`} />
</a>