---
// config
import { siteConfig, imageConfig } from "@/src/config"

// props
export interface Props {
    color?: string,
    orientation?: string,
    width: string,
}
const { color = "dark", orientation = "horizontal", width = "250px" } = Astro.props;
---

<style lang="scss" define:vars={{ width }}>
    a {
        width: var(--width);
        height: auto;

        img {
            width: var(--width);
            height: auto;
        }
    }
</style>

<a href="/" title={siteConfig.name}>
    <img src={`${imageConfig.cloudUrl}/logo/${orientation}-${color}.svg`} />
</a>