---
// props
export interface Props {
    page: object;
}
const { page } = Astro.props;
---

<div class="flex flex-col md:flex-row justify-between items-center text-lg">
    <div>
        {page.start + 1} to {page.end + 1} of {page.total}
    </div>

    <div class="flex gap-4">
        <div>
            {
                page.url.prev ? (
                    <a href={`${page.url.prev}`} class="font-semibold underline">
                        &lt; Previous
                    </a>
                ) : (
                    <span class="disabled">Previous</span>
                )
            }
        </div>

        <div>
            {
                page.url.next ? (
                    <a href={page.url.next} class="font-semibold underline">
                        Next &gt;
                    </a>
                ) : (
                    <span class="disabled">Next</span>
                )
            }
        </div>
    </div>
</div>
