---
// props
export interface Props {
    posts: any;
}
const { posts } = Astro.props;

const allPosts = await Astro.glob("../pages/**/*.mdx");
const relatedPosts = posts.map((r) => {
    return allPosts.find((post) => post.url.includes(r));
});
---

<div class="space-y-8">
    {
        relatedPosts.map((r) => (
            <div class="space-y-2">
                <a class="font-semibold hover:underline underline-offset-2" href={r.url} title={r.frontmatter.title}>
                    <p>{r.frontmatter.title}</p>
                </a>
                <p>{r.frontmatter.description}</p>
            </div>
        ))
    }
</div>
