---
// props
export interface Props {
    posts: any;
}
const { posts } = Astro.props;

const allPosts = await Astro.glob("../pages/**/*.mdx");
const relatedPosts = posts.map((r) => {
    return allPosts.find((post) => post.url.includes(r));
});
---

<div class="space-y-8">
    {
        relatedPosts.map((r) => (
            <div>
                <a
                    class="text-sm font-semibold text-zinc-800 underline-offset-2 hover:underline dark:text-zinc-100"
                    href={r.url}
                    title={r.frontmatter.title}
                >
                    <p>{r.frontmatter.title}</p>
                </a>
                <p class="text-sm text-zinc-600 dark:text-zinc-400">{r.frontmatter.description}</p>
            </div>
        ))
    }
</div>
