---
// components
import { Image } from "@astrojs/image/components";

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: any
}

const { shoot } = Astro.props as Props;
---

<div class="space-y-4 h-full w-auto">
    <div class="relative h-[600px] w-auto group overflow-hidden">
        <div class="w-[98%] h-[98%] absolute bottom-0 right-0 bg-neutral-100 group-hover:bg-neutral-200 duration-500 rounded-sm"></div>
        <div class="overflow-hidden absolute top-0 left-0 w-[98%] h-[98%]">
            <Image src={shoot.hero} width={1000} height={1000} class="object-cover rounded-sm hover:scale-105 transition duration-1000" />
        </div>
    </div>

    <div class="flex justify-between items-center">
        <h3 class="font-black text-3xl tracking-tighter">{shoot.title}</h3>
        <div class="font-medium text-neutral-500">
            {timeAgo(shoot.date)}
        </div>
    </div>
</div>