---
// components
import { Image } from "@astrojs/image/components";

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}

const { shoot } = Astro.props as Props;
---

<div class="space-y-4 h-full w-auto">
    <div class="relative h-[450px] w-auto group">
        <div class="w-[98%] h-[98%] absolute bottom-0 right-0 bg-amber-100 group-hover:bg-amber-200 duration-500 rounded-sm"></div>
        <Image src={shoot.hero} width={1000} height={1000} class="absolute top-0 left-0 w-[98%] h-[98%] object-cover rounded-sm" />
    </div>

    <div class="flex justify-between items-center">
        <h3 class="font-black text-3xl tracking-tighter">{shoot.title}</h3>
        <div class="font-medium text-neutral-500">
            {timeAgo(shoot.date)}
        </div>
    </div>
</div>