---
// components
import { Image } from "@astrojs/image/components";

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: any
}
const { shoot } = Astro.props as Props;
---

<div class="space-y-4 h-full w-auto">
    <div class="overflow-hidden h-[400px]">
        <Image src={shoot.hero} width={700} height={500} class="object-cover rounded-sm hover:scale-[102%] transition duration-500" />
    </div>

    <div class="flex justify-between items-center">
        <h3 class="font-black text-3xl tracking-tighter">{shoot.title}</h3>
        <div class="font-medium text-neutral-500">
            {timeAgo(shoot.date)}
        </div>
    </div>
</div>