---
// props
export interface Props {
    posts: any,
}
const { posts } = Astro.props;

const allPosts = await Astro.glob("../pages/**/*.md");
const relatedPosts = posts.map(r => {
    return allPosts.find((post) => post.url.includes(r));
});
---

<style lang="scss">
    @import "../assets/styles/base/mixins/mx-breakpoints.scss";
    @import "../assets/styles/base/mixins/mx-spacing.scss";

    div.related-post {
        @include space-y(var(--space-50));

        a.post-title {
            font-size: var(--text-xl);
            display: inline-block;
        }

        p.post-description {
            font-size: var(--text-base);
            color: rgba(var(--color-gray-600), 1);
        }
    }
</style>

{relatedPosts.map(r =>
<div class="related-post">
    <a class="post-title" href={r.url} title={r.frontmatter.title}>
        <p>{r.frontmatter.title}</p>
    </a>
    <p class="post-description">{r.frontmatter.description}</p>
</div>
)}