---
import Image from "@/components/image/Image";
---

<div class="flex gap-8">
    <Image src="https://cdn.cosmicjs.com/70258310-76ff-11f0-9e3b-31d18aecc798-2019-blue-porsche-911-speedster-006.jpg" showTitle={false} figureClass="flex-shrink-0" class="w-70 h-50 object-cover object-[10%_35%] rounded-lg" sizes="400px" />

    <div class="space-y-5">
        <h3 class="text-pampas-50">Car Photography</h3>
        <hr class="text-cobalt-100/20 w-18" />
        <p class="text-pampas-100 text-lg font-extralight">
            With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography. With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography.
        </p>
        <div class="pill pill-ghost pill-inverse">Learn More</div>
    </div>
</div>
