---
// components
import Button from "@/components/Button";
import SidebarSection from "@/components/sidebar/SidebarSection";
---

<SidebarSection heading="My Newsletter">
    <p class="text-sm leading-6 text-zinc-800 dark:text-zinc-400">
        Sign up for my newsletter and be notified whenever I post a new shoot or article.
    </p>

    <form
        class="flex items-end justify-center gap-4 sm:flex-col lg:flex-row"
        action="https://buttondown.email/api/emails/embed-subscribe/eriksolsen"
        method="post"
        target="popupwindow"
        onsubmit="window.open(`https://buttondown.email/eriksolsen`, `popupwindow`)">
        <div>
            <label for="newsletter-email" class="text-sm">Email Address</label>
            <input type="email" name="email" id="newsletter-email" class="w-full" />
        </div>

        <Button text="Sign Up" size="sm" classes="min-w-fit sm:w-full lg:w-fit h-full" />
    </form>
</SidebarSection>
