---
// props
export interface Props {
    heading: string;
}
const { heading } = Astro.props;
---

<div class="space-y-4">
    <div class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">{heading}</div>

    <slot />
</div>
