---
import SidebarSection from "@/components/sidebar/SidebarSection";
---

<!-- sidebar -->
<aside class="flex flex-col md:max-w-xs">
    <div class="space-y-12">
        <slot />
    </div>
</aside>
