---
// props
export interface Props {
    heading: string;
}
const { heading } = Astro.props;
---

<div class="space-y-4">
    <div class="text-2xl font-bold tracking-tighter">{heading}</div>

    <slot />
</div>
