---
// props
export interface Props {
    classes?: string;
}
const { classes = "col-span-8 sm:col-span-3" } = Astro.props;
---

<aside class:list={["flex flex-col", classes]}>
    <div class="space-y-12">
        <slot />
    </div>
</aside>
