---
import SidebarSection from "@/components/sidebar/SidebarSection";
---

<!-- sidebar -->
<aside class="flex flex-col justify-between gap-12">
    <div class="space-y-12">
        <slot />
    </div>

    <SidebarSection heading="Thanks for Reading">
        <p>
            For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at <a
                href="http://www.icgamerica.com"
                title="ICG America, Inc">ICG America</a
            >, generating $50 million in direct-to-consumer sales.
        </p>
        <p><i>Oh yeah</i>, I also shoot <a href="/photography" title="Car Photography in Austin, TX">car photography</a>.</p>
    </SidebarSection>
</aside>
