---
// props
export interface Props {
    heading: string;
}
const { heading } = Astro.props;
---

<div class="space-y-4">
    <div class="text-lg font-semibold tracking-tight text-neutral-800 dark:text-neutral-100">{heading}</div>

    <slot />
</div>
