---
import { SignedIn, SignedOut, UserButton, SignInButton } from "@clerk/astro/components";

import Container from "@/components/content/Container";
---

<Container>
	<div class="flex gap-4 items-center">
		<UserButton />

		<div>
			<a href="/dashboard" class="hover:underline">Dashboard</a>
		</div>
	</div>
</Container>
