---
import Container from "@/components/content/Container";
---

<Container>
	<div class="flex gap-4 items-center">
		<div>
			<a href="/dashboard" class="hover:underline">Dashboard</a>
		</div>
	</div>
</Container>
