---
// layout
import Layout from "@/layouts/BaseLayout";

// component"s
import Container from "@/components/content/Container";
import Pagination from "@/components/shoots/Pagination";
import Primary from "@/components/shoots/cards/Primary";
import Section from "@/components/content/Section";

// content
import { getCollection } from "astro:content";

// content
export async function getStaticPaths({ paginate }) {
    const allShoots = (await getCollection("shoots")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return paginate(allShoots, { pageSize: 12 });
}
const { page } = Astro.props;
---

<Layout>
    <Section>
        <Container size="large">
            <div>
                <div class="space-y-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-16" id="shoots">
                        {page.data.map((s, i) => <Primary shoot={s} sizes="(min-width: 768px) 50vw, (max-width: 1024px) 33vw, 100vw" loading={i == 0 ? `eager` : `lazy`} />)}
                    </div>
                </div>
            </div>
        </Container>

        <Container>
            <div class="flex justify-between items-center">
                <div class="hidden sm:block text-sm">Page {page.currentPage} of {page.lastPage}</div>

                <Pagination page={page} />
            </div>
        </Container>
    </Section>
</Layout>
