---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Shoot from "@/components/card/Shoot";
import Split from "@/components/content/Split";

// content
import { getCollection } from "astro:content";
const featured = (
    await getCollection("shoots", ({ data }) => {
        return data.featured == true;
    })
)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 1);

const shoots = (await getCollection("shoots")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

// make a unique list of the categories
const allCategories = [];
shoots.map((s) => allCategories.push(s.data.category));
const uniqueCategories = [...new Set(allCategories)];

// make a unique list of the brands
const allBrands = [];
shoots.map((s) => {
    if (s.data.brand) {
        allBrands.push(s.data.brand);
    }
});
const uniqueBrands = [...new Set(allBrands)];
---

<Layout>
    <Container>
        <Heading>
            <h1 slot="heading">Automotive Photoshoots</h1>
            <p slot="description">These are my recent shoots</p>
        </Heading>
    </Container>

    <Container>
        <Split small={true}>
            <div slot="heading">
                <div class="h4">Filters</div>
                {uniqueCategories.map((c) => <div>{c}</div>)}
                {uniqueBrands.map((b) => <div>{b}</div>)}
            </div>

            <div class="w-full @container">
                <div
                    id="shootList"
                    class="grid gap-10 @sm:grid-cols-2 lg:grid-cols-3">
                    {shoots.map((s) => <Shoot shoot={s} />)}
                </div>
            </div>
        </Split>
    </Container>
</Layout>
