@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "./buttons";
@import "./forms";
@import "./images";
@import "./typography";

@theme inline {
    --font-sans: var(--font-generalsans);
}

/* alpinejs hide */
[x-cloak] {
	display: none !important;
}

body:has(dialog[open]) {
	overflow: hidden;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
	backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}