@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "./buttons";
@import "./forms";
@import "./images";
@import "./typography";

@theme inline {
	--font-sora: var(--font-sora);
	--font-heading: var(--font-unbounded);

	--color-pampas-50: #f6f4f0;
	--color-pampas-100: #efece5;
	--color-pampas-200: #dfd7c9;
	--color-pampas-300: #cabda7;
	--color-pampas-400: #b39e84;
	--color-pampas-500: #a4886b;
	--color-pampas-600: #97785f;
	--color-pampas-700: #7e6250;
	--color-pampas-800: #675145;
	--color-pampas-900: #54443a;
	--color-pampas-950: #2d231d;

	--color-cobalt-50: #f4f6fb;
	--color-cobalt-100: #e8edf6;
	--color-cobalt-200: #cdd9ea;
	--color-cobalt-300: #a0b9d9;
	--color-cobalt-400: #6d95c3;
	--color-cobalt-500: #4b78ac;
	--color-cobalt-600: #395e90;
	--color-cobalt-700: #2f4c75;
	--color-cobalt-800: #2a4162;
	--color-cobalt-900: #273953;
	--color-cobalt-950: #1d293d;
}

/* alpinejs hide */
[x-cloak] {
	display: none !important;
}

body {
	@apply text-cobalt-950 font-sora font-light;
}

body:has(dialog[open]) {
	overflow: hidden;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	/* Semi-transparent black */
	backdrop-filter: blur(5px);
	/* Apply a blur effect to the background */
}