.button {
	@apply transition duration-300 inline-flex items-center justify-center rounded-md px-4 py-2 cursor-pointer font-sora;

	&.button-primary {
		@apply text-white bg-slate-800 hover:bg-slate-700 focus:outline-none focus:ring-4 focus:ring-slate-300;

		&.button-inverse {
			@apply text-slate-900 bg-white hover:bg-slate-100;
		}
	}

	&.button-ghost {
		@apply border border-cobalt-950 focus:outline-none;

		&.button-inverse {
			@apply border-cobalt-100 text-cobalt-100;
		}
	}
}

.pill {
	@apply inline-flex items-center rounded-3xl px-4 py-2 text-xs font-semibold uppercase;

	&.pill-primary {
		@apply bg-white text-slate-800;
	}

	&.pill-secondary {
		@apply bg-slate-900 text-slate-50;
	}

	&.pill-ghost {
		@apply border border-slate-900 text-slate-900;

		&.pill-inverse {
			@apply border-cobalt-100 text-cobalt-100;
		}
	}

	&.pill-subtle {
		@apply bg-slate-200 text-slate-800;
	}

	&.pill-large {
		@apply px-4 py-2.5;
	}
}