@font-face {
    font-family: "Manrope";
    font-display: swap;
    font-weight: 100 900;
    src: url("/fonts/Manrope.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-display: swap;
    font-weight: 900;
    src: url('/fonts/Lato-Black.ttf') format('truetype');
}