/* headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    @apply font-heading uppercase;
}

h1,
.h1 {
    @apply text-5xl sm:text-6xl lg:text-6xl tracking-tighter font-normal;
}

h2,
.h2 {
    @apply text-4xl sm:text-5xl lg:text-5xl tracking-tighter font-normal;
}

h3,
.h3 {
    @apply text-3xl lg:text-4xl tracking-tighter;
}

h4,
.h4 {
    @apply text-2xl sm:text-3xl;
}

.prose h2 {
    @apply text-2xl lg:text-4xl tracking-tighter font-medium;
}

.prose h3 {
    @apply text-xl lg:text-3xl tracking-tighter font-medium;
}

.prose h4 {
    @apply text-lg lg:text-2xl tracking-tight font-normal;
}

.prose a {
    @apply font-normal decoration-1;
}