---
// components
import Container from "@/components/Container"

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    caption: string,
    date?: string,
}
const { caption, date } = Astro.props;
---

<Container>
    <div class="mt-4">
        <figcaption class="flex justify-between">
            <div class="line-clamp-1">{caption}</div>
            <time datetime={date}>{timeAgo(date)}</time>
        </figcaption>
    </div>
</Container>