---
// functions
import { getMetadata } from "@/functions/Media"

// props
export interface Props {
    file: string
    showTitle?: boolean
    showDescription?: boolean
}
const { file, showTitle = true, showDescription = false } = Astro.props;

const imageData = await getMetadata(file); // get the metadata for the caption
---

<figcaption>
    {showTitle ?
    <div class="title">{imageData.title}</div>
    : "" }

    {showDescription ?
    <div class="description">{imageData.caption}</div>
    : "" }
</figcaption>