---
// imports
import { getImageDetails } from "@/functions/Media";
import Picture from "@/components/image/Picture";

// props
export interface Props {
    src?: string;
    figureClass?: string;
    figureText?: string;
    rounded?: boolean;
}
const { src, figureClass, figureText, rounded = true, ...attrs } = Astro.props;

// get the image data
const image = await getImageDetails(src);
---

<figure
    class:list={[
        "relative overflow-hidden group gallery hover:cursor-pointer",
        rounded && `sm:rounded`,
        figureClass,
    ]}
>
    <Picture src={src} {...attrs} />

    <figcaption
        class:list={[
            "absolute bottom-0 left-0 rounded-tr-lg px-3 pt-1 pb-2 text-white bg-white/10",
            rounded && "sm:rounded-bl-lg",
        ]}
    >
        {
            image ? (
                <div class="uppercase text-xs no-underline">
                    {image.data.title}
                </div>
            ) : (
                <div class="uppercase text-xs font-normal no-underline">
                    {figureText}
                </div>
            )
        }
    </figcaption>
</figure>
