---
// imports
import { getImageDetails } from "@/functions/Media";
import Picture from "@/components/image/Picture";

// props
export interface Props {
    src?: string;
    figureClass?: string;
    figureText?: string;
    rounded?: boolean;
}
const { src, figureClass, figureText, rounded = true, ...attrs } = Astro.props;

// get the image data
const image = await getImageDetails(src);
---

<figure class:list={["relative overflow-hidden group gallery hover:cursor-pointer", rounded && `rounded-lg`, figureClass]}>
    <Picture src={src} {...attrs} />

    <figcaption class="absolute bottom-0 left-0 rounded-bl-lg rounded-tr-lg px-3 pt-1 pb-2 text-white bg-white/10 group-hover:bg-white/25 transition-colors">
        {
            image ? (
                <a href={`/photography/photo/${image.slug}`} title="View photo details" class="uppercase text-xs font-medium no-underline">
                    {image.data.title}
                </a>
            ) : (
                <div class="uppercase text-xs font-normal @[500px]:font-medium no-underline">{figureText}</div>
            )
        }
    </figcaption>
</figure>
