---
// imports
import { getImageDetails } from "@/functions/Media";
import Picture from "@/components/image/Picture";

// props
export interface Props {
    src?: string;
    figureClass?: string;
    figureText?: string;
    rounded?: boolean;
}
const { src, figureClass, figureText, rounded = true, ...attrs } = Astro.props;

// get the image data
const image = await getImageDetails(src);
---

<figure class:list={["relative overflow-hidden group gallery hover:cursor-pointer @container", rounded && `rounded-lg`, figureClass]}>
    <Picture src={src} {...attrs} classes="rounded-lg" />

    <figcaption class="absolute bottom-0 left-0 rounded-bl-lg rounded-tr-lg px-3 py-1 text-white bg-white/10">
        {
            image ? (
                <a href={`/photography/photo/${image.slug}`} title="View photo details" class="uppercase text-xs @[500px]:text-sm font-medium @[500px]:font-medium no-underline hover:underline">
                    {image.data.title}
                </a>
            ) : (
                <div class="uppercase text-xs font-normal @[500px]:font-medium no-underline">{figureText}</div>
            )
        }
    </figcaption>

    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 absolute bottom-4 group-hover:right-4 -right-72 text-white transition-all duration-200 pointer-events-none">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
    </svg>
</figure>
