---
// imports
import { getImageDetails } from "@/functions/Media";
import Picture from "@/components/image/Picture";

// props
export interface Props {
	src?: string;
	figureClass?: string;
	figureText?: string;
	rounded?: boolean;
}
const { src, figureClass, figureText, rounded = true, ...attrs } = Astro.props;
---

<figure class:list={["relative overflow-hidden group gallery hover:cursor-pointer", rounded && `sm:rounded`, figureClass]}>
	<Picture src={src} {...attrs} />

	<figcaption class:list={["absolute bottom-0 left-0 rounded-tr-sm px-4 pt-1 pb-2 text-white bg-white/30", rounded && "sm:rounded-bl-sm"]}>
		{
			image ? (
				<a href={`/photography/photo/${image.slug}`} title="View photo details" class="uppercase text-xs no-underline font-medium group-hover:font-semibold transition-all duration-300">
					{image.data.title}
				</a>
			) : (
				<div class="uppercase text-xs font-normal no-underline">{figureText}</div>
			)
		}
	</figcaption>
</figure>
