---
// components
import Figure from "@/components/image/Figure";

// props
export interface Props {
    images: any;
}
const { images } = Astro.props;
---

<div class="columns-2 gap-8">
    {images.map((i) => <Figure src={i} figureClass="mb-12" class="h-full w-full rounded-sm object-cover shadow-lg" />)}
</div>
