---
// components
import Figure from "@/components/image/Figure";

// props
export interface Props {
    images: any;
}
const { images } = Astro.props;
---

<div class="gallery not-prose columns-1 sm:columns-2">
    {
        images.map((i) => (
            <Figure src={i} figureClass="mb-12" class="h-full w-full rounded-sm object-cover shadow-lg" sizes="(min-width: 640px) 50vw, 100vw" />
        ))
    }
</div>

<style>
    :global(.gallery figure) {
        @apply inline-block;
    }
</style>
