---
// props
interface Props {
    height?: string;
}
const { height = "h-24 md:h-48" } = Astro.props;
---

<div class:list={["grow", height]}>
    <slot />
</div>

<style>
    :global(img) {
        @apply w-full h-full object-cover;
    }
</style>