---
// css
import "../assets/styles/_base.scss";

// components
import BaseHead from "@/components/BaseHead";
import Footer from "@/components/Footer";
import Navigation from "@/components/navigation/Navigation";

// props
export interface Props {
    title?: string;
    description?: string;
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />

        <script>
            const darkMode = localStorage.getItem("darkMode");

            if (null !== darkMode) {
                document.documentElement.classList.add(darkMode === "true" && "dark");
            }
        </script>
    </head>

    <body class="dark:bg-black">
        <div class="gradient absolute inset-0 -z-10 h-full w-full bg-gradient-to-tr"></div>

        <Navigation />

        <div class="space-y-16 sm:space-y-20">
            <slot />
        </div>

        <Footer />
    </body>
</html>
