---
// components
import BaseHead from "@/components/BaseHead";
import Footer from "@/components/Footer";
import Navigation from "@/components/navigation/Navigation";

// props
export interface Props {
    title?: string;
    description?: string;
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
        <!-- white bg -->
        <div class="fixed inset-0 flex justify-center sm:px-8">
            <div class="flex w-full max-w-7xl lg:px-8">
                <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
            </div>
        </div>

        <!-- header -->
        <div class="relative">
            <Navigation />

            <slot />

            <Footer />
        </div>
    </body>
</html>
