---
// styles
import "/src/assets/styles/_base.css";
import "bigger-picture/css";

import { siteConfig } from "@/src/config";
import { ViewTransitions } from "astro:transitions";
import Banner from "@/components/navigation/Banner";
import Footer from "@/components/Footer";
import Navigation from "@/components/navigation/Navigation";

// props
export interface Props {
    title?: string;
    description?: string;
    footerPadding?: boolean;
    classes?: string;
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
    footerPadding = true,
    classes = "space-y-24 sm:space-y-32",
} = Astro.props;

if (Astro.url.searchParams.get("gclid")) {
    Astro.cookies.set("clickId", Astro.url.searchParams.get("gclid"));
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content={siteConfig.name} />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <title>{title}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/images/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#E11D48" />
        <meta name="theme-color" content="#E11D48" />

        <ViewTransitions />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="preconnect" href="https://www.googletagmanager.com" />
        <link rel="preconnect" href="https://www.google-analytics.com" />
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-MKSK82RH");
        </script>
        <script src="https://scripts.iconnode.com/121476.js"></script>
    </head>

    <body>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKSK82RH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        <Banner />
        <Navigation />

        <div class:list={[classes, footerPadding && `mb-52`]}>
            <slot />
        </div>

        <Footer />
        <script>
            import BiggerPicture from "bigger-picture";

            let bp = BiggerPicture({
                target: document.body,
            });

            // open (will be a child of the target element above)
            let imageLinks = document.querySelectorAll(`.gallery img`);

            // add click listener to open BiggerPicture
            for (let link of imageLinks) {
                link.addEventListener("click", openGallery);
            }

            // function to open BiggerPicture
            function openGallery(e) {
                e.preventDefault();
                bp.open({
                    items: imageLinks,
                    el: e.currentTarget,
                    scale: 0.8,
                });
            }
        </script>
    </body>
</html>
