---
// components
import BaseHead from "@/components/BaseHead";
import Footer from "@/components/Footer";
import Navigation from "@/components/navigation/Navigation";

// props
export interface Props {
    title?: string;
    description?: string;
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="bg-stone-100">
        <Navigation />

        <div class="mt-20 md:mt-28 space-y-20 md:space-y-28">
            <slot />
        </div>

        <Footer />
    </body>
</html>
