---
// css
import "../assets/styles/_base.scss";

// props
export interface Props {
    title?: string;
    description?: string;
}
const { title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX", description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows." } = Astro.props;

// components
import Banner from "@/components/navigation/Banner";
import Footer from "@/components/Footer";
import Navigation from "@/components/navigation/Navigation";

// data
import { siteConfig } from "@/src/config";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content={siteConfig.name} />
        <meta name="description" content={description} />

        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />

        <script is:inline src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.6/dist/bigger-picture.min.js"></script>
        <script>
            const darkMode = localStorage.getItem("darkMode");

            if (null !== darkMode) {
                document.documentElement.classList.add(darkMode === "true" && "dark");
            }
        </script>
    </head>

    <body class="dark:bg-black">
        <Banner />
        <Navigation />

        <div class="space-y-16 sm:space-y-20">
            <slot />
        </div>

        <Footer />
    </body>
</html>
