---
// css
import "../assets/styles/_base.scss";

// props
export interface Props {
    title?: string;
    description?: string;
    classes?: string;
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
    classes = "space-y-32 sm:space-y-48",
} = Astro.props;

// components
import Banner from "@/components/navigation/Banner";
import Footer from "@/components/Footer";
import Navigation from "@/components/navigation/Navigation";

// config
import { siteConfig } from "@/src/config";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content={siteConfig.name} />
        <meta name="description" content={description} />

        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/images/favicon/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#E11D48" />
        <meta name="theme-color" content="#E11D48" />

        <script is:inline src="https://cdn.jsdelivr.net/npm/bigger-picture@1.1.6/dist/bigger-picture.min.js"></script>
    </head>

    <script>
        const banner = document.querySelector("#banner");
        const nav = document.querySelector("#navigation");

        // Create a new IntersectionObserver object
        let observer = new IntersectionObserver(function (entries, observer) {
            for (let entry of entries) {
                if (entry.isIntersecting) {
                    nav.classList.remove("py-6");
                    nav.classList.remove("bg-rose-50");
                    nav.classList.add("py-12");
                } else {
                    nav.classList.add("py-6");
                    nav.classList.add("bg-rose-50");
                    nav.classList.remove("py-12");
                }
            }
        });

        // Observe each heading
        observer.observe(banner);
    </script>
</html>

<body>
    <Banner />
    <Navigation />

    <div class={classes}>
        <slot />
    </div>

    <!-- <Cta /> -->
    <Footer />
</body>
