---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
---

<Layout>
	<Container>
		<div class="grid grid-cols-1 lg:grid-cols-12 gap-12">
			<div class="absolute lg:block lg:sticky lg:top-16 lg:col-span-3 pb-12 lg:pb-0 h-full space-y-4">
				<div><a href="/dashboard">Home</a></div>

				<div class="space-y-1">
					<div class="font-semibold">Leads</div>
					<div>View Leads</div>
				</div>

				<div class="space-y-1">
					<div class="font-semibold">Tools</div>
					<div><a href="/dashboard/tools/add-metadata">Add Metadata</a></div>
				</div>
			</div>
			<div class="lg:col-span-9 row-span-2">
				<slot />
			</div>
		</div>
	</Container>
</Layout>
